.contacts {
  position: relative;
  margin-top: toRem(-517);
  left: 0;

  z-index: 50;

  @media (max-width: em(1360)) {
    margin-top: toRem(-450);
  }

  @media (max-width: em(1120)) {
    margin-top: toRem(-360);
  }

  @media (max-width: em(960)) {
    margin-top: toRem(-566);
  }

  @media (max-width: em(680)) {
    margin-top: toRem(-210);
    margin-left: auto;
    margin-right: auto;
  }

  /* .contacts__body */
  &__body {
    position: relative;
    background: url('@img/contacts/bg.jpg') 0 0 no-repeat;
    @include adaptiveValue("width", 453, 319);
    @include adaptiveValue("padding-top", 66, 30);
    @include adaptiveValue("padding-right", 95, 20);
    @include adaptiveValue("padding-bottom", 81, 46);
    @include adaptiveValue("padding-left", 90, 28);

    pointer-events: all;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;

      @include adaptiveValue("top", -15, -10);
      @include adaptiveValue("right", -15, -10);

      background-color: #fff;
      z-index: -1;
    }
  }

  /* .contacts__title */
  &__title {
    @include adaptiveValue("margin-bottom", 35, 12);
  }

  /* .contacts__list */
  &__list {
    display: grid;
    @include adaptiveValue("gap", 36, 17);
    @include adaptiveValue("margin-bottom", 37, 29);
  }

  /* .contacts__item */
  &__item {
    display: grid;
    gap: toRem(11)
  }

  /* .contacts__name */
  &__name {
    @include adaptiveValue("font-size", 18, 14);
    letter-spacing: .03em;
  }

  /* .contacts__value */
  &__value {
    font-size: toRem(18);
    letter-spacing: .03em;
    font-weight: 900;

    a {
      &:hover {
        color: #AB8244;
      }
    }
  }

  /* .contacts__social-list */
  &__social-list {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 33, 26);
  }

  /* .contacts__link */
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(69);
    height: toRem(69);
    border: 1px solid $subColor;
    border-radius: 50%;

    flex: 0 0 toRem(69);

    transition: background 0.3s;

    &:hover {
      background: $subColor;
    }
  }
}