.intro {
  position: relative;
  padding-top: toRem(156);
  background: url('@img/intro/intro-bg.jpg') no-repeat;
  background-size: cover;

  @media (max-width:$mobile) {
    background-position: 70%;
  }

  /* .intro__container */
  &__container {
    position: relative;
    display: grid;
    grid-template-columns: 50.4% auto;

    @media (max-width:$mobile) {
      grid-template-columns: auto;
    }
  }

  /* .intro__content */
  &__content {
    padding-top: toRem(72);
    @include adaptiveValue("padding-top", 72, 0);
  }

  /* .intro__title */
  &__title {
    line-height: normal;

    span {
      display: block;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 28, 8);
    }
  }

  /* .intro__text */
  &__text {
    display: flex;
    align-items: center;
    gap: toRem(17);

    @include adaptiveValue("margin-bottom", 138, 52);

    @media (max-width:$mobile) {
      gap: toRem(23);
    }

    svg {
      @media (max-width:$mobile) {
        width: toRem(40);
      }
    }
  }

  /* .intro__subtitle */
  &__subtitle {
    max-width: toRem(370);

    @include adaptiveValue("font-size", 22, 16);
    letter-spacing: .03em;
  }

  /* .intro__action */
  &__action {
    @include adaptiveValue("margin-left", 22, 5);
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 44, 20);

    @media (max-width: em(1140)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  /* .intro__button */
  &__button {
    position: relative;
  }

  /* .intro__price */
  &__price {
    max-width: toRem(284);

    font-size: toRem(16);
    color: $subColor;
    letter-spacing: .03em;

    @media (max-width: em(1140)) {
      margin-bottom: toRem(30);
    }

    span {
      font-weight: 900;
    }
  }

  /* .intro__media */
  &__media {
    position: relative;

    @media (max-width: em(1140)) {
      @include adaptiveValue("padding-top", 28, 187);
      padding-top: toRem(28);
    }

    @media (max-width:$mobile) {
      padding-top: toRem(0);
      margin: 0 auto;
    }
  }

  /* .intro__image */
  &__image {
    @include adaptiveValue("width", 620, 310);
  }

  &__img {
    position: absolute;
    max-width: 100%;
  }

  &__img1 {
    left: -18.7%;
    top: 21.5%;
    @include adaptiveValue("width", 343, 137);
    width: 200px;
  }

  &__img2 {
    right: -15%;
    top: 13.4%;
    @include adaptiveValue("width", 300, 121);
  }

  &__img3 {
    right: -16.5%;
    bottom: -16.9%;
    @include adaptiveValue("width", 283, 148);
  }

  &__arrow-down {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 42px);
    gap: toRem(82);

    span {
      transform: rotate(-90deg);

      font-size: toRem(14);
      letter-spacing: .24em;
    }

    @media (max-width:$mobile) {
      display: none;
    }
  }

  &__arrow-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: toRem(84);
    height: toRem(84);
    border-radius: 50%;

    background-color: #fff;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      background: $subColor;
      transform: scale(.72);
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 50%;
    }
  }
}