.objects {
  @include adaptiveValue("padding-top", 198, 70);
  @include adaptiveValue("padding-bottom", 239, 105);

  &__title {
    @include adaptiveValue("margin-bottom", 30, 20);
  }

  &__text {
    margin-bottom: 54px;
    @include adaptiveValue("margin-bottom", 54, 45);

    color: $mainColor;
    letter-spacing: .03em;
  }
}

.object {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: toRem(20);

  @media (max-width: em(1024)) {
    grid-template-rows: repeat(5, 1fr);
    grid-template-rows: .6fr .4fr .3fr .2fr .4fr;
    @include adaptiveValue("margin-right", 200, 0);
    @include adaptiveValue("margin-left", 200, 0);
  }

  /* .object__block */
  &__block {

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* .object__block_1 */
    &_1 {
      position: relative;
      grid-column: 1 / 3;
      grid-row: 1 / 3;

      @include adaptiveValue("height", 449, 317);

      @include adaptiveValue("padding-top", 65, 45);
      @include adaptiveValue("padding-right", 57, 40);
      @include adaptiveValue("padding-bottom", 63, 39);
      @include adaptiveValue("padding-left", 59, 45);

      @media (max-width: em(1024)) {
        grid-column: 1 / 7;
        grid-row: 1 / 3;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
      }

      &::before {
        content: '';
        position: absolute;
        background: rgba(15, 17, 26, 0.5);
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 20;
      }
    }

    /* .object__block_2 */
    &_2 {
      grid-column: 3 / 5;
      grid-row: 1 / 2;
      @include adaptiveValue("height", 212, 150);
    
      @media (max-width: em(1024)) {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
        min-height: 100px;
      }

      img {
      }
    }

    /* .object__block_3 */
    &_3 {
      grid-row: 2 / 3;
      grid-column: 3 / 5;
      @include adaptiveValue("height", 212, 150);
      

      @media (max-width: em(1024)) {
        grid-column: 4 / 7;
        grid-row: 3 / 4;
        min-height: 100px;
      }

      img {
      }
    }

    /* .object__block_4 */
    &_4 {
      grid-column: 5 / 7;
      grid-row: 1 / 3;
      @include adaptiveValue("height", 449, 317);

      @media (max-width: em(1024)) {
        grid-column: 1 / 7;
        grid-row: 4 / 6;
      }
    }
  }

  /* .object__body */
  &__body {
    position: relative;
    z-index: 20;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* .object__header */
  &__header {}

  /* .object__title */
  &__title {
    @include adaptiveValue("margin-bottom", 20, 10);

    @media (min-width:em(1025)) {
      max-width: toRem(340);
    }
  }

  /* .object__desc */
  &__desc,
  &__text {
    font-size: toRem(16);
    line-height: 26px;
  }

  /* .object__text */
  &__text {
    margin-bottom: toRem(30);
    font-size: toRem(18);
  }

  /* .object__button */
  &__button {
    white-space: nowrap;
  }
}