.portfolio {
  @include adaptiveValue("padding-top", 130, 91);
  @include adaptiveValue("padding-bottom", 166, 211);

  /* .portfolio__container */
  &__container {}

  /* .portfolio__title */
  &__title-h2 {
    margin-bottom: toRem(10);

    @media (max-width: em(1360)) {
      margin-bottom: toRem(122);
    }
  }

  /* .portfolio__buttons */
  &__buttons {
    justify-self: end;

    @media (min-width:$mobile) and (max-width: em(1360)) {
      position: absolute;
      right: toRem(20);
      top: toRem(-98);
    }

    @media (max-width:$mobile) {
      justify-self: center;
      margin-bottom: toRem(30);
    }
  }

  /* .portfolio__tabs */
  &__tabs {
    position: relative;
  }

  /* .portfolio__navigation */
  &__navigation {
    display: flex;
    gap: toRem(22);

    position: absolute;
    right: 0;
    top: toRem(106);
    z-index: 100;

    @media (max-width: em(1360)) {
      right: auto;
      top: -98px;
    }

    @media (max-width:$mobile) {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  /* .portfolio__body */
  &__body {
    // display: flex;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 31.071%;

    @media (max-width: em(1360)) {
      grid-template-columns: 58% auto;
      align-items: start;
    }

    @media (max-width:$tablet) {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      gap: toRem(30);
    }
  }

  /* .portfolio__slide */
  &__slide {
    display: flex;
    align-items: center;

    transition: all 0.7s;
  }

  /* .portfolio__image */
  &__image {

    @include adaptiveValue("height", 622, 215);

    img {
      width: 100%;
    }

    @media (max-width:$tablet) {
      @include adaptiveValue("padding-left", 100, 0);
      @include adaptiveValue("padding-right", 100, 0);
    }
  }

  /* .portfolio__desc */
  &__desc {}

  /* .portfolio__sl-footer */
  &__sl-footer {
    position: absolute;
    bottom: toRem(46);
    width: 100%;

    @media (max-width: em(1280)) {
      bottom: 0;
    }

    @media (min-width:$tablet) {
      padding-left: toRem(37);
    }

    @media (max-width:$tablet) {
      left: 50%;
      transform: translate(-50%, 0);
      @include adaptiveValue("bottom", -120, -115);

      text-align: center;
    }
  }

  /* .portfolio__button */
  &__button {
    margin-bottom: toRem(28);
  }

  /* .portfolio__slogan */
  &__slogan {
    font-size: toRem(16);
    letter-spacing: .03em;
    color: $mainColor;

    @media (max-width:$mobile) {
      letter-spacing: -.03em;
    }
  }
}

.portfolio__slide.swiper-slide-active {

  .portfolio__slider_text &,
  .portfolio__slider_text_2 & {
    opacity: 1;
    transform: scale(1);
  }
}

.portfolio__slide {

  .portfolio__slider_text &,
  .portfolio__slider_text_2 & {
    opacity: 0;
    transform: scale(.5);
  }
}

.swiper-button-prev {}

.portfolio__swiper-button-next.swiper-button-next,
.portfolio__swiper-button-prev.swiper-button-prev,
.portfolio__swiper-button-next_2.swiper-button-next,
.portfolio__swiper-button-prev_2.swiper-button-prev {
  background-color: #F4F4F4;
}

.portfolio__swiper-button-prev.swiper-button-prev:disabled,
.portfolio__swiper-button-next.swiper-button-next:disabled,
.portfolio__swiper-button-prev_2.swiper-button-prev:disabled,
.portfolio__swiper-button-next_2.swiper-button-next:disabled {

  background-color: transparent;
  border: 1px solid #F4F4F4;

  svg {
    path {
      fill: $mainColor;
    }
  }
}


.tabs__title.portfolio__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: toRem(21) toRem(36);
  width: toRem(184);
  height: toRem(60);

  font-size: toRem(16);
  font-weight: 900;
  color: $subColor;
  letter-spacing: .03em;

  @media (max-width:$mobile) {
    width: toRem(150);
  }
}


.desc-portfolio {

  /* .desc-portfolio__list */
  &__list {
    display: grid;
    gap: 20px;
    @include adaptiveValue("gap", 20, 15);
    padding-left: toRem(40);
    margin-bottom: toRem(37);

    @media (max-width: em(1360)) {
      padding-top: toRem(80);
    }

    @media (max-width: em(1170)) {
      padding-top: toRem(0);
    }

    @media (max-width:$tablet) {
      @include adaptiveValue("padding-left", 520, 0);
    }
  }

  /* .desc-portfolio__item */
  &__item {
    display: flex;
    position: relative;
    align-items: center;
    // @include adaptiveValue("gap", 18, 12);
    margin-bottom: toRem(4);

    @include adaptiveValue("padding-left", 25, 20);


    font-size: toRem(18);
    color: $mainColor;
    letter-spacing: .03em;

    &::before {
      content: '';
      position: absolute;
      width: 7px;
      height: 7px;
      background: $subColor;
      border-radius: 50%;
      left: 0;
      top: toRem(9);
      // top: toRem(12);

      @media (max-width:$mobile) {
        top: toRem(6);
      }
    }

    span {
      font-weight: 900;
    }

    @media (max-width:$mobile) {
      font-size: toRem(16);
    }
  }
}