.turnkey {
  @include adaptiveValue("padding-top", 106, 72);
  @include adaptiveValue("padding-bottom", 124, 117);

  /* .turnkey__title */
  &__title {
    color: $mainColor;

    @include adaptiveValue("margin-bottom", 72, 30);
  }

  /* .turnkey__body */
  &__body {
    display: grid;
    grid-template-columns: 49.28% auto;
    @include adaptiveValue("gap", 138, 32);
    @include adaptiveValue("margin-bottom", 95, 55);

    @media (max-width:$mobile) {
      grid-template-columns: auto;
    }
  }

  /* .turnkey__media */
  &__media {
    img {
      width: 100%;
      max-width: 100%;

      position: sticky;
      top: 0;
    }
  }

  /* .turnkey__content */
  &__content {
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    height: 100%;
  }

  /* .turnkey__name */
  &__name {
    @include adaptiveValue("font-size", 32, 20);
    letter-spacing: .03em;
    color: $mainColor;
    font-weight: 800;
  }

  /* .turnkey__text */
  &__text {
    display: flex;
    flex-direction: column;
    gap: toRem(23);
    @include adaptiveValue("gap", 23, 20);
    flex: 1 1 auto;

    font-size: toRem(18);
    color: $mainColor;

    p {
      &:not(:last-child) {
        letter-spacing: .03em;
      }

      span {
        font-weight: 800;
      }
    }

    @media (max-width:$mobile) {
      font-size: toRem(16);
    }
  }

  /* .turnkey__button */
  &__button {
    align-self: flex-start;

    @media (max-width:$mobile) {
      margin-top: toRem(20);
    }
  }
}

.stages-turnkey {

  /* .stages-turnkey__items */
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include adaptiveValue("gap", 20, 15);

    @media (max-width: em(1160)) {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }

    @media (max-width:$mobile) {
      grid-template-columns: 1fr;
    }
  }

  /* .stages-turnkey__item */
  &__item {
    position: relative;
    padding-bottom: 69.315%;
    width: 100%;
    height: 100%;
    @include adaptiveValue("padding-top", 76, 32);
    @include adaptiveValue("padding-right", 55, 30);
    @include adaptiveValue("padding-left", 56, 36);
    @include adaptiveValue("padding-bottom", 40, 20);

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
    }

    &::after {
      content: '';
      position: absolute;
      background: rgba(15, 17, 26, 0.7);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &:last-child {
      justify-self: center;
      align-self: center;

      @media (min-width:$mobile) {}

      @media (min-width:$mobile) and (max-width: em(1160)) {
        grid-column: span 2;
      }
    }

    @media (max-width:$mobile) {
      max-width: toRem(453);
      min-height: 220px;
    }
  }

  &__body {
    position: relative;
    display: flex;
    gap: toRem(15);
    z-index: 10;
  }

  &__icon {
    margin-top: toRem(-16);

    @media (max-width:$mobile) {
      margin-top: toRem(-6);
    }

    svg {
      @include adaptiveValue("width", 57, 40);
    }
  }

  /* .stages-turnkey__title */
  &__title {
    @include adaptiveValue("margin-bottom", 30, 9);
  }

  /* .stages-turnkey__text */
  &__text {
    font-size: toRem(16);
    line-height: 26px;

    @media (max-width:$mobile) {
      font-size: toRem(14);
      line-height: 17px;
    }
  }
}