.warranty {
  @include adaptiveValue("padding-top", 180, 135);

  /* .warranty__container */
  &__container {}

  /* .warranty__body */
  &__body {
    display: grid;
    grid-template-columns: 47.85% auto;
    align-items: end;

    @media (max-width:$tablet) {
      grid-template-columns: auto;
    }
  }

  /* .warranty__content */
  &__content {
    @include adaptiveValue("padding-bottom", 112, 28);
  }

  /* .warranty__title */
  &__title {
    @include adaptiveValue("margin-bottom", 50, 25);
  }

  /* .warranty__list */
  &__list {
    display: grid;
    @include adaptiveValue("margin-bottom", 70, 39);
    @include adaptiveValue("gap", 47, 16);
  }

  /* .warranty__item */
  &__item {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 31, 20);

    @include adaptiveValue("font-size", 24, 16);
    font-weight: 400;
    letter-spacing: .03em;
    color: $mainColor;

    &_1 {
      svg {
        @media (max-width:$mobile) {
          width: toRem(30);
          height: toRem(35);
        }
      }
    }

    &_2 {
      svg {
        @media (max-width:$mobile) {
          width: toRem(34);
          height: toRem(35);
        }
      }
    }

    &_3 {
      svg {
        @media (max-width:$mobile) {
          width: toRem(38);
          height: toRem(35);
        }
      }
    }
  }

  /* .warranty__button */
  &__button {
    @media (max-width: em(360)) {
      display: block;
      text-align: center;
    }
  }

  /* .warranty__media */
  &__media {
    position: relative;

    @media (max-width:$tablet) {
      @include adaptiveValue("margin-right", 400, -40);
      @include adaptiveValue("margin-left", 400, -40);
    }
  }

  /* .warranty__image */
  &__image {
    position: relative;
    left: 16.6%;
    max-width: 100%;

    @media (max-width:$tablet) {
      left: 50%;
      transform: translate(-43%, 0);
    }
  }

  /* .warranty__img */
  &__img {
    position: absolute;

    /* .warranty__img_1 */
    &_1 {
      left: 4%;
      top: 14.2%;
      @include adaptiveValue("width", 113, 96);
    }

    /* .warranty__img_2 */
    &_2 {
      right: -19%;
      top: -4.4%;
      @include adaptiveValue("width", 294, 160);
    }

    /* .warranty__img_3 */
    &_3 {
      right: -5.2%;
      bottom: 21.1%;
      @include adaptiveValue("width", 175, 120);
    }
  }
}

svg {
  flex-shrink: 0;
}