// // Оболонка буллетів
// .fp-bullets {
// 	position: fixed;
// 	top: 50%;
// 	transform: translate(0, -50%);
// 	left: toRem(40);

// 	max-height: 100%;
// 	display: flex;
// 	flex-direction: column;
// 	flex-wrap: wrap;
// 	align-items: center;
// 	justify-content: center;
// 	z-index: 2;
// 	gap: toRem(24);

// 	@media (max-width: $pc) {
// 		left: toRem(20);
// 	}

// 	@media (max-width: $mobileSmall) {
// 		top: auto;
// 		bottom: toRem(20);
// 		transform: translate(50%, 0);
// 		flex-direction: row;
// 		right: 50%;
// 	}

// 	@media (max-width:$tablet) {
// 		display: none;
// 	}

// }

// // Булет
// .fp-bullet {
// 	cursor: pointer;
// 	width: toRem(8);
// 	height: toRem(8);
// 	flex: 0 0 toRem(8);
// 	border-radius: toRem(10);
// 	background-color: #32353D;

// 	opacity: 1;
// 	transition:
// 		// transform 0.4s ease-in-out 0s,
// 		opacity 0.4s ease-in-out 0s,
// 		background-color 0.4s ease-in-out 0s,
// 		box-shadow 0.4s ease-in-out 0s;

// 	@media (any-hover: hover) {
// 		&:hover {
// 			opacity: 1;
// 		}
// 	}

// 	&.active,
// 	&:hover {
// 		position: relative;
// 		opacity: 1;
// 		width: toRem(18);
// 		height: toRem(18);
// 		flex: 0 0 toRem(18);
// 		background-color: #fff;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;

// 		&::before {
// 			content: '';
// 			width: toRem(14);
// 			height: toRem(14);
// 			flex: 0 0 toRem(14);
// 			border: 4px solid $bodyColor;
// 			border-radius: 50%;
// 		}

// 		a span {
// 			color: #ffff;
// 			transform: translate(0%, -50%);
// 			left: auto;
// 		}
// 	}

// 	a span {
// 		transition-duration: 0.3s;
// 		color: transparent;
// 		perspective: 1000px;
// 		position: absolute;
// 		top: 50%;
// 		transform: translate(-20%, -50%);
// 		right: -10px;
// 		width: 70px;

// 		&:hover {
// 			color: #fff;
// 			transform: translate(0%, -50%);
// 			left: auto;
// 		}
// 	}
// }


.fp-bullets {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
	z-index: 1000;

	@media (max-width: em(1500)) {
		display: none;
	}
}

.fp-bullet {
	text-align: left;

	&:not(:last-child) {
		margin-bottom: toRem(16);
	}

	a {
		position: relative;
		font-size: 18px;
		font-weight: 400;
		color: #0568E3;
		padding-right: 30px;

		&::before {
			content: '';
			position: absolute;
			height: toRem(8);
			width: toRem(8);

			border-radius: 50px;
			// background-color: rgba($color: #32353D, $alpha: .5);
			background-color: rgba(255, 255, 255, 0.5);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition-duration: 0.3s;
		}


		&::after {
			content: '';
			position: absolute;
			width: toRem(14);
			height: toRem(14);
			border: 4px solid $bodyColor;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;
		}

		span {
			position: absolute;
			width: 70px;
			right: toRem(-73);
			perspective: 1000px;
			top: 50%;
			transform: translate(20%, -50%);

			font-size: toRem(16);
			color: transparent;
			transition-duration: 0.3s;
		}
	}
}

.fp-bullet.active a,
.fp-bullet a:hover {

	span {
		color: #fff;
		transform: translate(0%, -50%);
		left: auto;
		// padding: 0 toRem(5);
		// border-radius: 8px;
		// background-color: $bodyColor;

		@media (max-width: em(1799)) {
			display: none;
		}
	}

	&::before {
		background: #fff;
		height: 18px;
		width: 18px;
	}

	&::after {
		opacity: 1;
	}
}