body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	// z-index: 149;
	z-index: 600;
}

.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}

.popup_show {
	// z-index: 150;
	z-index: 601;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}

.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}

.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #fff;
	padding: toRem(17);
	width: 100%;
	max-width: toRem(700);
	border-radius: toRem(30);

	@include adaptiveValue("padding-top", 17, 12);
	@include adaptiveValue("padding-bottom", 17, 12);
	@include adaptiveValue("padding-left", 17, 12);
	@include adaptiveValue("padding-right", 17, 12);

	.cart-popup & {
		border-radius: 0;
	}

	.lock & {
		visibility: visible;
	}
}

.popup__close {
	display: block;
	margin-left: auto;
}

.popup__text {
	padding-bottom: toRem(56);

	&_all {
		padding-left: toRem(83);
		padding-right: toRem(83);
	}

	&_cart {
		padding-top: toRem(48);
		padding-left: toRem(53);
		padding-right: toRem(53);
	}
}