.spollers {
	display: grid;
	@include adaptiveValue("gap", 20, 15);
}

// Спойлер
.spollers__item {}

// Заголовок спойлера
.spollers__title {
	position: relative;
	width: 100%;
	cursor: default;
	display: flex;
	align-items: center;
	@include adaptiveValue("padding-left", 32, 26);
	padding-top: toRem(20);
	padding-bottom: toRem(20);
	padding-right: toRem(30);
	background-color: #363949;

	font-size: toRem(14);
	letter-spacing: .03em;
	font-weight: 900;

	list-style: none;

	transition: all 0.6s;

	&::marker {}

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			@include adaptiveValue("right", 27, 20);
			height: toRem(3);
			width: toRem(15);

			background-color: #fff;

			border-radius: 5px;
			transition: all 0.5s ease 0s;
			z-index: 10;
		}

		&::after {
			transform: rotate(-90deg);
		}

		&._spoller-active {
			&::before {
				transform: rotate(-45deg);
				opacity: .6;
			}

			&::after {
				transform: rotate(45deg);
				opacity: .6;
			}
		}
	}
}

// Контент спойлера
.spollers__body {
	@include adaptiveValue("padding-top", 30, 15);
}

// .spollers__circle {
// 	position: absolute;
// 	@include adaptiveValue("width", 64, 29);
// 	@include adaptiveValue("height", 64, 29);

// 	right: toRem(9);
// 	border-radius: 50%;
// 	background-color: $bodyColor;

// 	transition: all 0.3s;

// 	._spoller-active & {
// 		background-color: red;
// 	}
// }