//<BUTTONS (a.btn+tab)>
// Сниппет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	padding: 0px 0px;
	border-radius: toRem(50);
	background-color: #fff;

	&--fw {
		width: 100%;
	}

	&__basket {
		&:hover {
			.button-wrapper__null {
				background: #f0ffff;
				border: 1px solid rgba(40, 179, 182, 0.13);
			}
		}

		&.active {
			.button-wrapper__null {
				display: none;
			}

			.button-wrapper__add {
				display: flex;
			}
		}
	}

	&__arrow {
		display: inline-flex;
		padding: 0 toRem(30);

		font-weight: 700;
		color: #fff;
		line-height: 300%;
		text-transform: uppercase;

		background-color: $secondaryColor;
		transition: background-color 0.3s;

		@include adaptiveValue("font-size", 21, 17);

		@include adaptiveValue("height", 70, 50);
		@include adaptiveValue("gap", 66, 34);
		// @include adaptiveValue("width", 270, 216);


		@media (max-width:$mobile) {
			line-height: 371%;
			color: #fff;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: #000;
			}
		}
	}

}

.button-wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: toRem(6);
	width: 100%;

	color: $secondaryColor;
	border: 1px solid $secondaryColor;
	border-radius: toRem(50);

	@include adaptiveValue("font-size", 18, 12);
	@include adaptiveValue("padding-top", 14, 6);
	@include adaptiveValue("padding-bottom", 14, 6);
	@include adaptiveValue("padding-left", 44, 15);
	@include adaptiveValue("padding-right", 44, 15);

	&__add {
		display: none;

		// line-height: 139%;
		background-color: $secondaryColor;
		font-weight: 600;
		color: #fff;

		@include adaptiveValue("height", 56, 27);
	}


	&.active {
		display: inline-flex;
	}

	@media (max-width: toEm(580)) {
		svg {
			display: none;
		}
	}
}