//<FORM>
// Сниппет (HTML):
.form {
	&__row {}

	&__column {}

	&__lines {
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-between;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: toRem(30);
		row-gap: toRem(32);

		&_profile {
			margin-bottom: toRem(59);
		}

		&_password {
			margin-bottom: toRem(49);
		}
	}

	&__line {
		position: relative;

		.personal__form & {
			flex-basis: 33%;
		}

		&_fio {
			display: flex;
			justify-content: space-between;
			gap: toRem(11);

			margin-bottom: toRem(12);

			@media (max-width:$tablet) {
				flex-wrap: wrap;
			}
		}

		&_bottom {
			display: flex;
			align-items: center;
			gap: toRem(20);

			@include adaptiveValue("margin-top", 32, 22);

			@media (max-width:$mobile) {
				flex-wrap: wrap;
			}
		}

		label {
			margin-bottom: toRem(17);

			font-weight: 600;
		}

	}

	&__input {}

	&__button {
		padding: 0 toRem(56) !important;

		font-size: toRem(18);
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
		background-color: $secondaryColor !important;
		transition: background-color 0.3s;

		@include adaptiveValue("height", 57, 50);

		@media (max-width:$mobile) {
			font-size: toRem(17);
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: $mainColor !important;
			}
		}
	}

	&__error {}
}

//</FORM>

// <BUTTONS>
// Сниппет (HTML): btn
@import "button";

// <INPUTS>
// Сниппет (HTML): inp
@import "input";

// <CHECK>
// Сниппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сниппет (HTML): opt
// @import "radio";

// <SELECT>
// Сниппет (HTML): sel
@import "select";

// <RATING>
// Сниппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сниппет (HTML): qa
@import "quantity";

// <RANGE>
// Сниппет (HTML):
// @import "range";

// <CALENDAR>
// Сниппет (HTML):
// @import "datepicker";