.page404 {
  padding-top: toRem(80);
  padding-bottom: toRem(60);
  @include adaptiveValue("padding-top", 80, 40);

  &::before {
    background: url('@img/404.jpg') center 0 no-repeat;
    background-size: cover;
    opacity: .05;
  }


  /* .404__container */
  &__container {
    text-align: center;
  }

  /* .404__title */
  &__title {
    @include adaptiveValue("margin-bottom", 21, 15);
    @include adaptiveValue("font-size", 62, 35);
  }

  /* .404__text */
  &__text {
    margin-bottom: toRem(23);
  }

  /* .404__buttons */
  &__buttons {
    display: grid;
    justify-content: center;
    gap: toRem(10);

    &>* {
      padding: 0 toRem(50);
    }
  }
}

.favorite-popup {
  &__title {
    @include adaptiveValue("margin-bottom", 50, 20);
  }

  &__size-value {
    @media (any-hover: hover) {
      &:hover {
        color: inherit;
        background-color: inherit;
      }
    }
  }

  &__variant {
    justify-content: space-between;
    margin-bottom: toRem(0);
    // @include adaptiveValue("margin-bottom", 30, 10);
  }

  &__item-total {
    align-items: flex-start;

    .item-total__delete {
      margin-top: 0;
    }
  }

  .item-total__price {
    padding-bottom: toRem(5);
    margin-right: auto;
    margin-left: 0;
  }
}

.item-total__footer {
  display: flex;
  align-items: flex-end;
}