.benefits {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url('@img/benefits/back-2sec.jpg') center bottom no-repeat;
    opacity: .11;
    z-index: -1;
  }

  /* .benefits__container */
  &__container {
    position: relative;

    text-align: center;
  }

  /* .benefits__title */
  &__title {
    max-width: toRem(928);

    margin-left: auto;
    margin-right: auto;

    i {
      font-style: normal;

      @media (max-width:$mobileSmall) {
        display: block;
        width: 100%;
      }
    }
  }



  /* .benefits__item */
  &__item {
    height: 100%;

    border: 1px solid #fafafa;
    border-radius: 20px;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.02);
    background: #fff;
    text-align: center;

    @include adaptiveValue("padding-top", 50, 30);
    @include adaptiveValue("padding-right", 42, 27);
    @include adaptiveValue("padding-left", 42, 27);
    @include adaptiveValue("padding-bottom", 50, 30);
  }

  /* .benefits__icon */
  &__icon {
    @include adaptiveValue("margin-bottom", 23, 13);
    @include adaptiveValue("width", 80, 66);
  }

  /* .benefits__name */
  &__name {
    font-size: toRem(21);
    font-weight: 600;
    line-height: 114%;

    @include adaptiveValue("margin-bottom", 23, 18);

    @media (max-width:$mobile) {
      font-size: toRem(19);
      line-height: 121%;
    }
  }

  /* .benefits__text */
  &__text {
    font-size: toRem(16);
    font-weight: 350;
    color: #666;
    line-height: 144%;

    @media (max-width:$mobile) {
      font-size: toRem(15);
      line-height: 147%;
    }
  }

  &__slider-pagination {
    height: toRem(25);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: toRem(30);
    gap: toRem(16);

    .swiper-pagination-bullet {
      position: relative;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #E8E8E8;
      z-index: 10;

      cursor: pointer;

      transition: all 0.3s;

      &::before {
        content: '';
        position: absolute;
        width: toRem(11);
        height: toRem(11);
        background-color: $secondaryColor;
        border-radius: 50%;
        opacity: 0;
      }
    }

    .swiper-pagination-bullet-active {
      width: 25px;
      height: 25px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #E9FFFF;

      &::before {
        opacity: 1;
      }
    }

    @media (min-width:toEm(1201)) {
      display: none;
    }
  }
}

.brand-logo {
  text-align: center;

  /* .brand-logo__container */
  &__container {}

  /* .brand-logo__back-title */
  &__back-title {
    font-weight: 700;
    color: #f6f6f6;
    line-height: 69%;

    @include adaptiveValue("font-size", 95, 38);

    @media (max-width:$mobile) {
      line-height: 100%;
    }
  }

  /* .brand-logo__img */
  &__img {
    margin-top: toRem(-20);

    @include adaptiveValue("margin-bottom", 17, 12);
    @include adaptiveValue("width", 286, 168);
  }

  /* .brand-logo__text */
  &__text {
    max-width: toRem(930);
    margin: 0 auto;

    font-weight: 300;
    line-height: 142%;
    color: #666;

    @include adaptiveValue("font-size", 24, 20);
  }
}