.catalog {
  position: relative;
  padding-top: 54px;
  padding-bottom: toRem(99);


  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%), url("@img/catalog/back.jpg") center 0 no-repeat;
    // background-size: cover;
    opacity: .1;
    z-index: -1;
  }

  &__header {
    position: relative;
    padding-bottom: toRem(41);
    margin-bottom: toRem(43);
  }

  &__bottom {
    display: flex;
    justify-content: center;
  }

  /* .catalog__title */
  &__title {
    margin-bottom: toRem(32);
  }

  /* .catalog__top-line */
  &__top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: toRem(30);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: toRem(28);
  }

  &__item {
    // grid-column: span 3;
    // flex-shrink: 0;
    // width: 25%;
    // height: 100%;
    // width: toRem(392);


  }

  /* .catalog__filter */
  &__filter {}

  /* .catalog__tags */
  &__tags {
    position: absolute;
    bottom: 0;
  }
}

.filter {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  column-gap: toRem(16);
}

.filter-sort {

  .catalog & {
    margin-bottom: toRem(0);
  }

  /* .filter-sort__title */
  &__title {}

  /* .filter-sort__by */
  &__by {}

  /* .filter-sort__new */
  &__new {}

  /* .filter-sort__old */
  &__old {}
}

.active {}

// .tags {
//   display: flex;
//   align-items: center;
//   gap: toRem(10);
// }

.tags,
.tags-1,
.tags-2,
.tags-3,
.tags-4 {
  display: flex;
  align-items: center;
  gap: toRem(10);
  flex-wrap: wrap;

  /* .tags__item */
  &__item {}
}


.product-item__media {
  .catalog__item & {
    max-width: 100%;
    height: auto;
  }
}