.checkout {

  padding-top: toRem(68);

  @include adaptiveValue("padding-bottom", 90, 53);

  /* .checkout__container */
  &__container {}

  /* .checkout__title */
  &__title {
    @include adaptiveValue("margin-bottom", 67, 30);
  }

  /* .checkout__form */
  &__form {
    display: grid;
    grid-template-columns: 1fr 37.939%;

    @include adaptiveValue("gap", 74, 20);
  }

  /* .checkout__content */
  &__content {}

  /* .checkout__total */
  &__total {}
}

.form-checkout {

  /* .form-checkout__title */
  &__title {
    @include adaptiveValue("margin-bottom", 30, 15);
  }

  /* .form-checkout__subtitle */
  &__subtitle {

    font-weight: 600;
    @include adaptiveValue("font-size", 22, 15);

    @include adaptiveValue("margin-bottom", 30, 15);
  }

  /* .form-checkout__shipping */
  &__shipping {}
}


.shipping-checkout {

  /* .shipping-checkout__navigation */
  &__navigation {
    display: flex;

    @include adaptiveValue("gap", 30, 10);
    @include adaptiveValue("margin-bottom", 40, 20);
  }

  /* .shipping-checkout__item */
  &__item {
    display: flex;

    border: 2px solid #efefef;
    border-radius: 20px;
    background: #fff;

    @include adaptiveValue("gap", 8, 5);

    @include adaptiveValue("padding-top", 30, 7);
    @include adaptiveValue("padding-bottom", 30, 13);
    @include adaptiveValue("padding-left", 30, 10);
    @include adaptiveValue("padding-right", 30, 25);

    @include adaptiveValue("width", 390, 155);

    &._tab-active {
      border: 2px solid #28b3b6;
      background: #f5f9f9;

      .shipping-checkout__line {
        span {
          color: $secondaryColor;
        }
      }

      svg {
        path {
          stroke: $secondaryColor;
        }
      }
    }
  }

  /* .shipping-checkout__line */
  &__line {
    // display: flex;

    span {
      display: block;

      color: #000;
      @include adaptiveValue("font-size", 20, 13);

      @include adaptiveValue("margin-bottom", 14, 8);

      @media (max-width:$mobile) {
        font-weight: 600;
      }
    }
  }

  /* .shipping-checkout__price */
  &__price {
    justify-self: flex-start;

    color: $subColor;
    @include adaptiveValue("font-size", 17, 14);
  }

  /* .shipping-checkout__content */
  &__content {}

  /* .shipping-checkout__body */
  &__body {}

  /* .shipping-checkout__wrapper */
  &__wrapper {
    border: 1px solid #f4f4f4;
    border-radius: 20px;
    background-color: #fff;

    @include adaptiveValue("margin-bottom", 60, 28);
    @include adaptiveValue("padding-bottom", 40, 24);
  }

  /* .shipping-checkout__compare-list */
  &__compare-list {
    display: flex;
    @include adaptiveValue("gap", 30, 10);
  }

  /* .shipping-checkout__item-list */
  &__item-list {
    padding: toRem(35) toRem(32);

    border: 2px solid #efefef;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;

    pointer-events: fill;
    @include adaptiveValue("width", 219, 155);

    &.active {
      border: 2px solid #28b3b6;
      background: #f5f9f9;
    }


    p {
      &:first-child {
        margin-bottom: toRem(14);

        font-weight: 600;
        @include adaptiveValue("font-size", 20, 15);
      }

      &:nth-child(2) {
        margin-bottom: toRem(20);

        @include adaptiveValue("font-size", 17, 14);
      }

      &:last-child {
        color: $subColor;
        @include adaptiveValue("font-size", 17, 13);
      }
    }
  }
}

.shipping-point {
  @include adaptiveValue("padding-right", 38, 22);
  @include adaptiveValue("padding-left", 38, 22);

  /* .shipping-point__title */
  &__title {
    @include adaptiveValue("margin-bottom", 15, 10);
  }

  /* .shipping-point__text */
  &__text {
    font-weight: 350;
    color: $subColor;

    @include adaptiveValue("font-size", 16, 13);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 19, 12);
    }

    span {
      font-weight: 600;
      color: #000;
    }
  }

  /* .shipping-point__adress */
  &__adress {
    border-bottom: 1px solid #f4f4f4;

    @include adaptiveValue("padding-bottom", 17, 13);
    @include adaptiveValue("margin-bottom", 19, 12);
  }

  /* .shipping-point__data-around */
  &__data-around {}

  /* .shipping-point__price */
  &__price {}

  /* .shipping-point__data */
  &__data {}

  /* .shipping-point__button */
  &__button {

    margin-top: toRem(10);
    gap: toRem(6);

    background-color: $secondaryColor;
    color: #fff;
    font-weight: 600;

    transition: background-color 0.3s;

    @include adaptiveValue("height", 48, 38);
    @include adaptiveValue("font-size", 17, 14);
    @include adaptiveValue ("padding-left", 26, 14);
    @include adaptiveValue ("padding-right", 26, 14);


    @media (any-hover: hover) {
      &:hover {
        background-color: #000;
      }
    }
  }
}

.total-checkout {
  border: 1px solid #edf8f9;
  border-radius: 20px;
  box-shadow: 0 9px 54px 0 rgba(0, 0, 0, 0.04);
  background: #f6f9f9;

  @include adaptiveValue("padding-top", 47, 28);
  @include adaptiveValue("padding-bottom", 47, 53);
  @include adaptiveValue("padding-left", 47, 20);
  @include adaptiveValue("padding-right", 47, 20);

  /* .total-checkout__title */
  &__title {
    font-weight: 700;

    @include adaptiveValue("font-size", 37, 17);
    @include adaptiveValue("margin-bottom", 24, 14);
  }

  /* .total-checkout__progress-bar */
  &__progress-bar {
    margin-bottom: toRem(12);
    width: 100%;
    height: 5px;
    background-color: #F3F3F3;
    border-radius: toRem(20);

    @media (max-width:$mobile) {
      height: 3px;
    }
  }

  /* .total-checkout__progress */
  &__progress {
    width: 64%;
    height: 5px;
    background-color: $secondaryColor;
    border-radius: toRem(20);

    @media (max-width:$mobile) {
      height: 3px;
    }
  }

  /* .total-checkout__progress-label */
  &__progress-label {
    font-size: toRem(15);
    color: $subColor;

    @include adaptiveValue("margin-bottom", 33, 26);

    span {
      color: #000;
      font-weight: 600;
    }

    @media (max-width:$mobile) {
      font-size: toRem(13);
    }
  }

  /* .total-checkout__list */
  &__list {
    margin-bottom: toRem(23);
  }

  /* .total-checkout__item */
  &__item {}

  /* .total-checkout__promocode */
  &__promocode {}

  /* .total-checkout__input */
  &__input {}

  /* .total-checkout__button */
  &__button {}

  /* .total-checkout__all */
  &__all {}
}

.item-total {
  display: flex;
  align-items: center;
  gap: toRem(20);
  padding-bottom: toRem(36);

  border-bottom: 1px solid #f3f3f3;

  &:not(:first-child) {
    padding-top: toRem(22);
  }

  /* .item-total__img */
  &__img {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-shrink: 0;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    width: toRem(108);

    img {
      max-width: 100%;
      object-fit: cover;
      height: auto;
    }
  }

  /* .item-total__content */
  &__content {
    display: grid;
    width: 100%;
  }

  /* .item-total__delete */
  &__delete {
    // justify-self: end;
    margin-left: auto;
  }

  /* .item-total__name */
  &__name {
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 13);

    @include adaptiveValue("margin-bottom", 17, 12);
  }

  /* .item-total__variant */
  &__variant {
    display: flex;
    align-items: center;

    gap: toRem(9);

    @media (max-width:$mobile) {
      gap: toRem(7);
    }
  }

  /* .item-total__size */
  &__size {

    .select {
      // @include adaptiveValue("width", 105, 93);
    }
  }

  /* .item-total__quantity */
  &__quantity {
    height: toRem(26);
    @include adaptiveValue("width", 73, 63);

    .quantity__button {
      flex: 0 0 17px;
    }

    .quantity__input {
      input {
        font-size: toRem(13);
      }
    }
  }

  /* .item-total__price */
  &__price {
    margin-left: auto;

    font-weight: 600;
    color: $secondaryColor;
    @include adaptiveValue("font-size", 22, 16);
  }
}

.quantity {

  /* .quantity__button */
  &__button {}

  /* .quantity__button--minus */
  &__button--minus {}

  /* .quantity__input */
  &__input {}

  /* .quantity__button--plus */
  &__button--plus {}
}

.all-total {

  /* .all-total__list */
  &__list {}

  /* .all-total__item */
  &__item {}

  /* .all-total__name */
  &__name {}

  /* .all-total__price */
  &__price {}

  /* .all-total__total */
  &__total {}

  /* .all-total__name-total */
  &__name-total {}

  /* .all-total__price-total */
  &__price-total {}

  /* .all-total__button */
  &__button {}

  /* .all-total__dolyami */
  &__dolyami {}
}

.boxberry_map {
  position: relative;
  margin-left: toRem(-299);

  @include adaptiveValue("margin-bottom", 32, 20);

  &::before {
    content: '';
    position: absolute;

    width: 100px;
    height: 100px;
    background-color: #fff;
    left: toRem(119);
    top: 0;
  }
}