.checkout {
  @include adaptiveValue("padding-top", 54, 28);
  @include adaptiveValue("padding-bottom", 90, 32);

  /* .checkout__title */
  &__title {
    @include adaptiveValue("margin-bottom", 52, 16);
  }

  /* .checkout__form */
  &__form {
    display: grid;
    grid-template-columns: auto 37.939%;

    @include adaptiveValue("gap", 74, 0);

    @media (max-width: toEm(1300)) {
      grid-template-columns: 1fr auto;
      gap: toRem(20);
    }

    @media (max-width:$tablet) {
      grid-template-columns: auto;
      gap: toRem(28);
    }
  }
}

.form-checkout {

  /* .form-checkout__title */
  &__title {
    @include adaptiveValue("margin-bottom", 26, 15);
  }

  /* .form-checkout__subtitle */
  &__subtitle {
    font-weight: 600;
    @include adaptiveValue("font-size", 22, 15);

    @include adaptiveValue("margin-bottom", 30, 12);
  }
}

.shipping-checkout {

  /* .shipping-checkout__navigation */
  &__navigation {
    display: flex;
    @include adaptiveValue("gap", 30, 10);
    @include adaptiveValue("margin-bottom", 40, 20);
  }

  /* .shipping-checkout__item */
  &__item {
    display: flex;

    border: 2px solid #efefef;
    background: #fff;

    gap: toRem(9);

    @include adaptiveValue("padding-top", 30, 5);
    @include adaptiveValue("padding-bottom", 30, 9);
    @include adaptiveValue("padding-left", 30, 10);
    @include adaptiveValue("padding-right", 30, 25);

    @include adaptiveValue("width", 390, 155);
    @include adaptiveValue("border-radius", 20, 10);

    &._tab-active {
      border: 2px solid #28b3b6;
      background: #f5f9f9;

      .shipping-checkout__line {
        span {
          color: $secondaryColor;
        }
      }

      svg {
        path {
          stroke: $secondaryColor;
        }
      }
    }
  }

  /* .shipping-checkout__line */
  &__line {
    span {
      display: block;
      text-align: left;
      color: #000;
      @include adaptiveValue("font-size", 20, 13);

      @include adaptiveValue("margin-bottom", 14, 8);

      @media (max-width:$mobile) {
        font-weight: 600;
      }
    }
  }

  /* .shipping-checkout__price */
  &__price {
    justify-self: flex-start;

    color: $subColor;
    @include adaptiveValue("font-size", 17, 14);
  }

  /* .shipping-checkout__wrapper */
  &__wrapper {
    border: 1px solid #f4f4f4;
    border-radius: 20px;
    background-color: #fff;

    @include adaptiveValue("margin-bottom", 60, 28);
    @include adaptiveValue("padding-bottom", 40, 24);
  }

  /* .shipping-checkout__compare-list */
  &__compare-list {
    display: flex;
    @include adaptiveValue("gap", 30, 10);
  }

  /* .shipping-checkout__item-list */
  &__item-list {
    padding: toRem(35) toRem(32);

    border: 2px solid #efefef;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
    pointer-events: fill;

    @include adaptiveValue("width", 219, 155);

    &.active {
      border: 2px solid #28b3b6;
      background: #f5f9f9;
    }

    p {
      &:first-child {
        margin-bottom: toRem(14);

        font-weight: 600;
        @include adaptiveValue("font-size", 20, 15);
      }

      &:nth-child(2) {
        margin-bottom: toRem(20);

        @include adaptiveValue("font-size", 17, 14);
      }

      &:last-child {
        color: $subColor;
        @include adaptiveValue("font-size", 17, 13);
      }
    }
  }
}

.shipping-point {
  @include adaptiveValue("padding-right", 38, 22);
  @include adaptiveValue("padding-left", 38, 22);

  @media (max-width: toEm(683)) {
    margin-top: toRem(-68);
  }

  /* .shipping-point__title */
  &__title {
    font-weight: 600;
    @include adaptiveValue("font-size", 24, 15);
    @include adaptiveValue("margin-bottom", 11, 5);
  }

  /* .shipping-point__text */
  &__text {
    font-weight: 350;
    color: $subColor;

    @include adaptiveValue("font-size", 16, 13);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 15, 9);
    }

    span {
      font-weight: 600;
      color: #000;
    }
  }

  /* .shipping-point__adress */
  &__adress {
    border-bottom: 1px solid #f4f4f4;

    @include adaptiveValue("padding-bottom", 17, 13);
    @include adaptiveValue("margin-bottom", 19, 12);
  }

  /* .shipping-point__button */
  &__button {
    gap: toRem(6);

    background-color: $secondaryColor;
    color: #fff;
    font-weight: 600;

    transition: background-color 0.3s;

    @include adaptiveValue("height", 48, 38);
    @include adaptiveValue("font-size", 17, 14);
    @include adaptiveValue ("padding-left", 26, 14);
    @include adaptiveValue ("padding-right", 26, 14);
    @include adaptiveValue("margin-top", 10, 3);

    @media (any-hover: hover) {
      &:hover {
        background-color: #000;
      }
    }
  }
}

.total-checkout {
  border: 1px solid #edf8f9;
  border-radius: 20px;
  box-shadow: 0 9px 54px 0 rgba(0, 0, 0, 0.04);
  background: #f6f9f9;

  @include adaptiveValue("padding-top", 47, 24);
  @include adaptiveValue("padding-bottom", 47, 15);
  @include adaptiveValue("padding-left", 47, 18);
  @include adaptiveValue("padding-right", 47, 20);

  @media (max-width:$mobileSmall) {
    margin-left: toRem(-20);
    margin-right: toRem(-20);

    border-radius: 0;
  }

  /* .total-checkout__title */
  &__title {
    display: flex;
    align-items: flex-end;
    gap: toRem(10);

    font-weight: 700;
    @include adaptiveValue("font-size", 37, 17);

    @include adaptiveValue("margin-bottom", 21, 12);

    .cart-popup & {
      @include adaptiveValue("font-size", 44, 31);
    }

    span {
      font-size: toRem(20);
      font-weight: 700;
      color: #fff;
      height: toRem(30);
      flex: 0 0 toRem(30);
      background-color: $secondaryColor;
    }
  }

  /* .total-checkout__progress-bar */
  &__progress-bar {
    width: 100%;
    height: 5px;
    background-color: #F3F3F3;
    border-radius: toRem(20);

    @include adaptiveValue("margin-bottom", 16, 9);

    @media (max-width:$mobile) {
      height: 3px;
    }
  }

  /* .total-checkout__progress */
  &__progress {
    width: 64%;
    height: 5px;
    background-color: $secondaryColor;
    border-radius: toRem(20);

    @media (max-width:$mobile) {
      height: 3px;
    }
  }

  /* .total-checkout__progress-label */
  &__progress-label {
    font-size: toRem(15);
    color: $subColor;

    @include adaptiveValue("margin-bottom", 33, 24);

    span {
      color: #000;
      font-weight: 600;
    }

    @media (max-width:$mobile) {
      font-size: toRem(13);
    }
  }

  /* .total-checkout__list */
  &__list {
    margin-bottom: toRem(23);
    overflow-y: auto;

    max-height: toRem(300);
  }

  /* .total-checkout__promocode */
  &__promocode {
    display: flex;
    align-items: center;

    border: 1px solid #ececec;
    border-radius: 50px;

    backdrop-filter: blur(9px);
    background: #fff;
    @include adaptiveValue("height", 52, 40);
    @include adaptiveValue("margin-bottom", 60, 27);
  }

  /* .total-checkout__input */
  &__input {
    transition: all 0.3s;
    @include adaptiveValue("padding-left", 23, 16);

    &:focus::placeholder {
      opacity: 0;
    }
  }

  /* .total-checkout__button */
  &__button {
    height: 100%;
    flex-shrink: 0;

    font-weight: 600;
    text-align: center;
    color: $secondaryColor;

    border: 1px solid #28b3b6;
    border-radius: 50px;

    transition: all 0.3s;

    @include adaptiveValue("width", 183, 135);

    @media (any-hover: hover) {
      &:hover {
        background-color: $secondaryColor;
        color: #fff;
      }
    }
  }
}

.item-total {
  display: flex;
  align-items: center;
  gap: toRem(20);

  border-bottom: 1px solid #f3f3f3;

  @include adaptiveValue("gap", 20, 5);
  @include adaptiveValue("padding-bottom", 24, 11);

  @include adaptiveValue("padding-top", 22, 9);
  &:not(:first-child) {
  }

  /* .item-total__img */
  &__img {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 108 / 108;
    @include adaptiveValue("width", 108, 43);

    @media (max-width:$tablet) {
      max-width: toRem(108);
    }

    @media (max-width:$mobileSmall) {
      display: none;
    }

    img {
      padding: toRem(10);
      max-width: 100%;
      object-fit: cover;
      height: auto;
    }
  }

  /* .item-total__content */
  &__content {
    display: grid;
    width: 100%;
  }

  /* .item-total__delete */
  &__delete {
    margin-left: auto;
    align-self: flex-start;

    @media (min-width:toEm(1140)) {
      margin-top: toRem(-16);
    }
  }

  /* .item-total__name */
  &__name {
    display: flex;
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 13);

    @include adaptiveValue("margin-bottom", 17, 7);
  }

  /* .item-total__variant */
  &__variant {
    display: flex;
    align-items: center;

    gap: toRem(9);

    @media (max-width:$mobile) {
      gap: toRem(7);
    }
  }

  /* .item-total__quantity */
  &__quantity {
    height: toRem(26);
    @include adaptiveValue("width", 73, 63);

    .quantity__button {
      flex: 0 0 17px;
    }

    .quantity__input {
      input {
        font-size: toRem(13);
      }
    }
  }

  /* .item-total__price */
  &__price {
    margin-left: auto;

    font-weight: 600;
    color: $secondaryColor;
    @include adaptiveValue("font-size", 22, 16);
  }
}

.all-total {

  /* .all-total__list */
  &__list {
    display: grid;
    @include adaptiveValue("gap", 13, 12);
    @include adaptiveValue("margin-bottom", 38, 28);
  }

  /* .all-total__item */
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* .all-total__name */
  &__name {
    @include adaptiveValue("font-size", 18, 15);
  }

  /* .all-total__price */
  &__price {
    @include adaptiveValue("font-size", 22, 16);
  }

  /* .all-total__total */
  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include adaptiveValue("margin-bottom", 23, 17);
  }

  /* .all-total__name-total */
  &__name-total {
    font-weight: 600;
    @include adaptiveValue("font-size", 23, 16);
  }

  /* .all-total__price-total */
  &__price-total {
    font-weight: 600;
    color: $secondaryColor;
    @include adaptiveValue("font-size", 29, 16);
  }

  /* .all-total__button */
  &__button {
    width: 100%;
    justify-content: space-between;

    @include adaptiveValue("padding-left", 32, 22);
    @include adaptiveValue("padding-right", 32, 22);
    @include adaptiveValue("height", 52, 42);
    @include adaptiveValue("margin-bottom", 18, 2);

    @include adaptiveValue("font-size", 16, 13);

    .cart-popup & {
      height: toRem(52);
    }
  }

  /* .all-total__dolyami */
  &__dolyami {
    margin-bottom: toRem(0);
  }
}

.boxberry_map {
  position: relative;
  margin-left: toRem(-299);

  @include adaptiveValue("margin-bottom", 12, 20);

  &::before {
    content: '';
    position: absolute;

    width: 100px;
    height: 100px;
    background-color: #fff;
    left: toRem(119);
    top: 0;
  }
}

.thankyou {
  @include adaptiveValue("padding-top", 120, 50);
  @include adaptiveValue("padding-bottom", 117, 50);

  /* .thankyou__container */
  &__container {
    display: flex;
    @include adaptiveValue("gap", 16, 10);

    svg {
      flex-shrink: 0;
    }
  }

  /* .thankyou__title */
  &__title {
    line-height: toRem(35);

    @include adaptiveValue("margin-bottom", 25, 15);
  }

  /* .thankyou__text */
  &__text {
    max-width: toRem(1020);
    @include adaptiveValue("margin-bottom", 32, 26);
  }

  /* .thankyou__buttons */
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(11);

    >* {
      width: toRem(249);
    }
  }

  /* .thankyou__button */
  &__button {
    color: #fff;
    background-color: $secondaryColor;

    @media (any-hover: hover) {
      &:hover {
        background-color: #000;
      }
    }
  }
}