.title-h1,
.title-h2 {
	@include adaptiveValue("font-size", 56, 32);
	font-weight: 800;
	letter-spacing: 0.03em;

	&_black {
		color: $mainColor;
	}
}

.title-h4 {
	@include adaptiveValue("font-size", 26, 20);
	font-weight: 800;
	letter-spacing: .03em;
}

.subtitle-h3 {
	font-size: toRem(18);
	letter-spacing: 0.03em;

	&_black {
		color: $mainColor;
	}
}

.logo {
	img {
		@include adaptiveValue("width", 216, 151);
		@include adaptiveValue("height", 63, 44);
	}
}

.hidden {
	display: none !important;
}

.not-visible {
	opacity: 0;
	visibility: hidden;
}

.button:disabled {
	background: #D9D9D9;
	cursor: no-drop;
}

.line {
	width: toRem(30);
	height: toRem(1);
	background-color: #fff;
}

.no-wrap {
	white-space: nowrap
}

.op0 {
	opacity: 0;
	visibility: hidden;
	position: relative;
	z-index: -1000;
}

._grid {
	display: grid;
}

.polycy-link {
	margin-top: toRem(25);

	font-size: toRem(16);
	color: $bodyColor;
	text-align: center;
	
	a {
		font-weight: 500;
		text-decoration: underline;
		white-space: nowrap;
	}
}

.file-upload {
	display: block;
	border: none;
	padding-left: 37px;

	height: 21px;

	background: url('@img/icons/add-file.svg') 0 0 no-repeat;
	cursor: pointer;

	font-size: toRem(14);
	font-weight: 600;
	letter-spacing: .03em;
	color: $subColor;
	text-decoration: underline;

	@media (max-width:em(1010)) {
		letter-spacing: .01em;
	}

	input[type=file] {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		position: absolute;
		z-index: -10;
	}
}

.simplebar-scrollbar::before {
	background-color: #fff !important;
}

.simplebar-track {
	background: #262831;
	border-radius: 10px !important;
	width: toRem(8) !important;
}

// Анимации

[anim-up-down] {
	// transform: translate(rem(0), rem(20));
	transform: translate(toRem(0), toRem(30));
	opacity: 0;
	transition: all $animSpeed ease 0s;

	&._watcher-view {
		transform: none;
		opacity: 1;
	}
}

[anim-scale] {
	transform: scale(.9);
	opacity: 0;
	transition: all $animSpeed ease 0s;

	&._watcher-view {
		transform: scale(1);
		opacity: 1;
	}
}

[anim-scale-max] {
	transform: scale(.2);
	opacity: 0;
	transition: all $animSpeed ease 0s;

	&._watcher-view {
		transform: scale(1);
		opacity: 1;
	}
}

[anim-scale-0] {
	transform: scale(.9);
	// opacity: 0;
	transition: all $animSpeed ease 0s;

	&._watcher-view {
		transform: scale(1);
		// opacity: 1;
	}
}

[delay10] {
	transition: all $animSpeed ease .1s;
}

[delay20] {
	transition: all $animSpeed ease .2s;
}

[delay30] {
	transition: all $animSpeed ease .3s;
}

[delay40] {
	transition: all $animSpeed ease .4s;
}

[delay50] {
	transition: all $animSpeed ease .5s;
}

[delay60] {
	transition: all $animSpeed ease .6s;
}

[delay70] {
	transition: all $animSpeed ease .7s;
}

[delay80] {
	transition: all $animSpeed ease .8s;
}

[delay120] {
	transition: all $animSpeed ease 1.2s;
}

.page404 {
	padding-top: toRem(200);

	@media (max-width:$mobile) {
		padding-top: toRem(150);
	}
}

.page404__container {
	text-align: center;
}

.from-hidden2 {
	display: none !important;
}