// Заголовки, общие БЄМ блоки и прочее...
.title-h2 {
  font-weight: 700;
  color: #000;
  line-height: 106%;
  @include adaptiveValue("font-size", 62, 30);

  @include adaptiveValue("margin-bottom", 52, 25);

  span {
    color: $secondaryColor;
  }

  @media (max-width:$mobile) {
    line-height: 100%;
  }
}

.title-h3 {
  font-weight: 700;
  line-height: 118%;

  @include adaptiveValue("font-size", 44, 25);

  &_big {
    @include adaptiveValue("font-size", 44, 30);

    @media (max-width:$mobileSmall) {
      max-width: toRem(200);
      line-height: 100% !important;
    }
  }

  @media (max-width:$mobile) {
    line-height: 136%;
  }
}

.title-h4 {
  font-weight: 700;
  @include adaptiveValue("font-size", 29, 15);
}

.info-title {
  font-weight: 700;
  color: $secondaryColor;

  @include adaptiveValue("font-size", 32, 25);
  @include adaptiveValue("margin-bottom", 44, 35);
}

.info-text,
.text {
  font-size: toRem(18);
  font-weight: 350;
  line-height: 150%;
  color: #666;

  @media (max-width:$mobile) {
    font-size: toRem(16);
    line-height: 156%;
  }
}

.info-wrapper {
  position: relative;
  border: 1px solid #f4f4f4;
  border-radius: toRem(20);
  box-shadow: 0 9px 54px 0 rgba(0, 0, 0, 0.04);
  background: #fff;

  @include adaptiveValue("padding-right", 60, 23);
  @include adaptiveValue("padding-top", 43, 35);
  @include adaptiveValue("padding-left", 63, 23);
  @include adaptiveValue("padding-bottom", 65, 37);

  &:not(:last-child) {
    @include adaptiveValue("margin-bottom", 68, 20);
  }
}

.info-list-item {
  position: relative;
  padding-left: toRem(18);

  &:not(:last-child) {
    margin-bottom: toRem(12);
  }

  font-size: toRem(17);
  line-height: 159%;
  font-weight: 350;
  color: #666;

  @media (max-width:$mobile) {
    font-size: toRem(16);
    line-height: 156%;
  }

  &::before {
    content: '';
    position: absolute;
    width: toRem(6);
    height: toRem(6);
    background-color: $secondaryColor;
    border-radius: 50%;
    left: 0;
    top: toRem(10);
  }
}

.price {
  display: flex;
  align-items: flex-end;
  @include adaptiveValue("gap", 17, 6);

  &__new {
    color: $secondaryColor;
    font-size: toRem(36);
    font-weight: 600;
    @include adaptiveValue("font-size", 36, 15);

    .product-card__cost & {
      @include adaptiveValue("font-size", 36, 28);
    }
  }

  &__old {
    display: flex;
    align-items: center;
    gap: toRem(5);
    padding-top: toRem(7);

    font-weight: 600;
    text-decoration: line-through;
    color: #d7d7d7;
    @include adaptiveValue("font-size", 20, 12);

    .product-card__cost & {
      font-size: toRem(20);
    }

    span {
      @include adaptiveValue("font-size", 15, 12);

      .product-card__cost & {
        font-size: toRem(15);
      }
    }
  }

  &_before {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 13);

    .product-card__cost & {
      font-size: toRem(20);
    }
  }

  &_rub {
    @include adaptiveValue("font-size", 22, 15);

    .product-card__cost & {
      font-size: toRem(22);
    }
  }
}

.hide {
  display: none;
  overflow: hidden;
}

.section {
  @include adaptiveValue("padding-top", 118, 50);
  @include adaptiveValue("padding-bottom", 118, 50);
}

.breadcrumbs {
  position: relative;
  margin-left: -11px;

  border: 1px solid #f6f6f6;
  backdrop-filter: blur(3px);
  background: rgba(252, 252, 252, 0.79);

  @include adaptiveValue("margin-top", 93, 73);

  /* .breadcrumbs__container */
  &__container {
    display: flex;
    align-items: center;
  }

  /* .breadcrumbs__list */
  &__list {
    height: toRem(52);

    display: flex;
    align-items: center;
    gap: toRem(6);
    overflow-x: auto;
  }

  /* .breadcrumbs__item */
  &__item {
    position: relative;
    padding-left: toRem(10);

    color: #666666;
    cursor: pointer;

    span {
      font-size: toRem(16);
      line-height: 112%;
      white-space: nowrap;
    }

    &:not(:first-child) {
      &::before {
        content: '-';
        position: absolute;
        color: #666;
        left: toRem(-1);
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &.active {
      color: $mainColor;
      cursor: auto;
    }
  }
}

i {
  font-style: normal;
}

.back-image-section-1 {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%), url("@img/catalog/back.jpg") center 0 no-repeat;
    // background-size: cover;
    opacity: .1;
    z-index: -1;
  }
}

.back-image-section {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    opacity: .11;
    z-index: -1;
  }
}

.df-fbc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.br50 {
  border-radius: 50%;
}

.whinset {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}