.cooperation {
  @include adaptiveValue("padding-top", 68, 37);
  @include adaptiveValue("padding-bottom", 101, 56);

  &::before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%), url("@img/cooperation/back.jpg") center 0 no-repeat;
  }

  /* .cooperation__container */
  &__container {
    position: relative;
  }

  /* .cooperation__for-hostel */
  &__for-hostel {
    display: flex;
    align-items: center;
    justify-content: center;

    @include adaptiveValue("margin-bottom", 100, 45);
    @include adaptiveValue("gap", 90, 30);

    @media (max-width:$tablet) {
      flex-wrap: wrap;
    }
  }

  /* .cooperation__content */
  &__content {

    @media (max-width:$tablet) {
      order: 1;
    }

    @media (min-width:$tablet) {
      flex: 0 1 50%;
    }
  }

  /* .cooperation__title */
  &__title {
    @include adaptiveValue("margin-bottom", 32, 15);
  }

  /* .cooperation__text-block */
  &__text-block {
    @include adaptiveValue("margin-bottom", 36, 21);

    @media (min-width:$tablet) {
      max-width: toRem(670);
    }
  }

  /* .cooperation__text */
  &__text {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 26, 11);
    }
  }

  /* .cooperation__button */
  &__button {
    letter-spacing: 0.6px;
    max-width: toRem(354);

    white-space: nowrap;
    @include adaptiveValue("gap", 41, 30);
  }

  &__media {
    flex: 0 1 50%;

    @media (max-width:$tablet) {
      flex-basis: 70%;
    }

    @media (max-width:$mobileSmall) {
      flex-basis: 100%;
    }
  }

  /* .cooperation__media */
  &__image {
    border-radius: toRem(30);
    object-fit: cover;

    @media (max-width: toEm(1600)) {
      max-width: 100%;
    }
  }

  /* .cooperation__callback */
  &__callback {
    @include adaptiveValue("margin-bottom", 83, 50);
  }
}


.callback-cooperation {
  height: 100%;

  border-radius: toRem(30);
  overflow: hidden;

  @include adaptiveValue("padding-bottom", 70, 48);
  @include adaptiveValue("padding-top", 60, 34);
  @include adaptiveValue("padding-left", 75, 30);
  @include adaptiveValue("padding-right", 75, 30);

  @media (max-width:$mobile) {
    border-radius: toRem(20);
  }

  &::before {
    background: url('@img/cooperation/form.jpg') center 0 no-repeat;
    background-size: cover;
  }

  /* .callback-cooperation__title */
  &__title {
    @include adaptiveValue("margin-bottom", 22, 9);
  }

  /* .callback-cooperation__subtitle */
  &__subtitle {

    font-weight: 350;
    line-height: 135%;
    color: #666;

    @include adaptiveValue("font-size", 20, 17);
    @include adaptiveValue("margin-bottom", 30, 25);


    @media (max-width:$mobile) {
      line-height: 147%;
    }
  }

  /* .callback-cooperation__tel */
  &__tel {
    font-weight: 700;
    line-height: 155%;
    text-decoration: underline;
    color: #28b3b6;
    @include adaptiveValue("font-size", 20, 18);
  }

  /* .callback-cooperation__form */
  &__form {
    margin: 0 auto;

    @media (max-width:$tablet) {
      max-width: toRem(700);
    }
  }

  &__button {
    padding: 0 toRem(56);
  }
}

.form {

  /* .form__policy */
  &__policy {
    font-size: toRem(15);
    font-weight: 350;
    line-height: 127%;
    color: #999;

    @media (min-width:$mobile) {
      max-width: toRem(490);
    }

    a {
      color: $secondaryColor;
      text-decoration: underline;
    }
  }
}


.partners-cooperation {
  @include adaptiveValue("padding-bottom", 50, 30);

  &__top-line {
    display: flex;
    align-items: center;
    @include adaptiveValue("margin-bottom", 65, 30);
  }

  /* .partners-cooperation__title */
  &__title {
    justify-self: start;
  }

  /* .partners-cooperation__slide */
  &__slide {
    padding: toRem(22);
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 9px 54px 0 rgba(0, 0, 0, 0.04);
    background: #fff;

    transition: all 0.3s;

    img {
      max-width: toRem(170);
    }

    @media (any-hover: hover) {
      &:hover {
        img {
          filter: brightness(0) saturate(100%) invert(61%) sepia(63%) saturate(1578%) hue-rotate(325deg) brightness(90%) contrast(90%);
        }
      }
    }
  }

  &__slider-pagination {
    height: toRem(25);
    display: flex;
    align-items: center;
    margin-top: toRem(3);
    gap: toRem(16);

    .swiper-pagination-bullet {
      position: relative;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #E8E8E8;
      z-index: 10;

      cursor: pointer;

      transition: all 0.3s;

      &::before {
        content: '';
        position: absolute;
        width: toRem(11);
        height: toRem(11);
        background-color: $secondaryColor;
        border-radius: 50%;
        opacity: 0;
      }
    }

    .swiper-pagination-bullet-active {
      width: 25px;
      height: 25px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #E9FFFF;

      &::before {
        opacity: 1;
      }
    }
  }
}