.features {
  @include adaptiveValue("padding-top", 92, 45);
  @include adaptiveValue("padding-bottom", 113, 48);

  &::before {
    background: url('@img/features/back.jpg') center center no-repeat;
  }

  /* .features__list */
  &__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    @include adaptiveValue("gap", 30, 20);

    @media (max-width:$tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* .features__item */
  &__item {

    max-width: toRem(390);
    padding: 0 toRem(20);
    width: 100%;

    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.02);
    background: #fff;
    border: 1px solid #fafafa;
    border-radius: toRem(20);

    text-align: center;

    @include adaptiveValue("padding-top", 50, 19);
    @include adaptiveValue("padding-bottom", 56, 30);
  }

  /* .features__icon */
  &__icon {
    flex-shrink: 0;
    @include adaptiveValue("margin-bottom", 23, 8);
    @include adaptiveValue("width", 80, 52);
  }

  /* .features__name */
  &__name {
    font-weight: 400;
    @include adaptiveValue("font-size", 21, 16);

    span {
      font-weight: 600;
    }

    @media (max-width:$mobile) {
      font-weight: 350;
      line-height: 125%;
    }
  }
}