.filter-category {

  /* .filter-category__title */
  &__title {
    margin-bottom: toRem(0);

    @media (min-width:$tablet) {
      flex: 1 1 100%;
    }

    @media (max-width: toEm(540)) {
      span {
        display: none;
      }
    }
  }

  /* .filter-category__top */
  &__top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include adaptiveValue("margin-bottom", 30, 22);
    @include adaptiveValue("gap", 32, 20);
  }

  /* .filter-category__nav */
  &__nav {
    overflow-x: auto;

    @media (max-width:$tablet) {
      order: 3;
    }
  }

  /* .filter-category__list-nav */
  &__list-nav {
    display: flex;
    align-items: center;
    gap: toRem(8);

    @include adaptiveValue("font-size", 17, 14);

    @media (max-width:$mobile) {
      gap: toRem(6);
    }
  }

  /* .filter-category__item-nav */
  &__item-nav {
    display: flex;
    align-items: center;

    border: 1px solid #e9e9e9;
    background-color: #fff;
    border-radius: toRem(50);
    cursor: pointer;
    transition: all 0.3s;
    white-space: nowrap;

    @include adaptiveValue("height", 46, 38);
    @include adaptiveValue("padding-left", 26, 16);
    @include adaptiveValue("padding-right", 26, 16);

    &.active {
      color: #fff;
      background-color: $secondaryColor;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        background-color: $secondaryColor;
      }
    }
  }
}