.footer {
  position: relative;
  padding-top: toRem(89);
  @include adaptiveValue("padding-top", 89, 70);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url('@img/footer/back.jpg') center bottom no-repeat;
    background-size: cover;
    opacity: .11;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #2c2c2c;
    z-index: -2;
  }

  /* .footer__container */
  &__container {
    text-align: center;
  }

  /* .footer__top */
  &__top {
    @include adaptiveValue("margin-bottom", 73, 40);
  }

  /* .footer__logo */
  &__logo {
    @include adaptiveValue("margin-bottom", 40, 12);

    svg {
      @include adaptiveValue("width", 176, 113);
      @include adaptiveValue("height", 74, 48);
    }
  }

  /* .footer__menu */
  &__menu {
    margin-bottom: toRem(39);
  }

  /* .footer__list */
  &__list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: toRem(18) toRem(12) toRem(23) toRem(12);
    flex-wrap: wrap;

    border: 1px solid rgba(255, 255, 255, 0.02);
    border-radius: toRem(16);

    backdrop-filter: blur(40px);
    background: rgba(70, 70, 70, 0.31);

    font-size: toRem(19);
    color: rgba(255, 255, 255, 0.8);

    @include adaptiveValue("padding-top", 12, 5);

    @media (max-width:$tablet) {
      row-gap: toRem(20);
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width:$mobile) {
      font-size: toRem(18);
    }

    @media (max-width: toEm(857)) {
      max-width: 76%;
    }

    @media (max-width: toEm(531)) {
      max-width: toRem(270);
      row-gap: 0;
      padding-bottom: toRem(11);
    }
  }

  /* .footer__item */
  &__item {
    position: relative;
    padding-left: toRem(29);
    padding-right: toRem(29);

    &::before {
      content: '';
      position: absolute;
      height: toRem(1);
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, .14);
      display: none;
    }

    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: toRem(1);
        right: 0;
        top: 0;
        background-color: rgba(255, 255, 255, .14);
      }
    }


    @media (max-width: toEm(857)) {
      &:nth-child(5) {
        &::after {
          display: none;
        }
      }
    }

    @media (max-width: toEm(854)) {
      &:nth-child(5) {
        &::after {
          display: block;
        }
      }

      &:nth-child(4) {
        &::after {
          display: none;
        }
      }
    }

    @media (max-width: toEm(694)) {
      &:nth-child(4) {
        &::after {
          display: block;
        }
      }

      &:nth-child(3) {
        &::after {
          display: none;
        }
      }
    }

    @media (max-width: toEm(593)) {
      &:nth-child(5) {
        &::after {
          display: none;
        }
      }
    }

    @media (max-width: toEm(531)) {
      flex-basis: 100%;
      padding-top: toRem(12);
      padding-bottom: toRem(15);

      &:nth-child(4),
      &:nth-child(5) {
        &::after {
          display: none;
        }
      }

      &::after {
        display: none;
      }

      &:not(:last-child) {
        &::before {
          display: block;
          width: toRem(183);
          left: 50%;
          transform: translate(-50%, 0px);
        }
      }
    }
  }

  /* .footer__link */
  &__link {
    transition: all 0.3s;
    white-space: nowrap;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
  }

  /* .footer__button */
  &__button {
    gap: toRem(9);
    height: toRem(44);
    margin-bottom: toRem(18);

    font-size: toRem(19);
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    transition: all 0.2s ease-in-out;

    @include adaptiveValue("padding-right", 100, 42);
    @include adaptiveValue("padding-left", 100, 42);

    @media (max-width:$mobile) {
      font-size: toRem(18);
      gap: toRem(7);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: $secondaryColor;
        border-color: transparent;
      }
    }
  }

  /* .footer__social-items */
  &__social-items {
    margin-bottom: toRem(17);
    display: flex;
    justify-content: center;
    gap: toRem(10);
  }

  /* .footer__social-link */
  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(44);
    height: toRem(44);

    background-color: #fff;
    border-radius: 50%;
  }

  /* .footer__mail */
  &__mail {
    color: #fff;
    text-decoration: underline;
    opacity: .8;
  }

  /* .footer__bottom */
  &__bottom {
    padding: toRem(23) 0 toRem(36);

    border-top-left-radius: toRem(16);
    border-top-right-radius: toRem(16);
    // border-radius: toRem(16);
    backdrop-filter: blur(40px);
    background: rgba(40, 40, 40, 0.31);
    border: 1px solid rgba(255, 255, 255, 0.02);

    text-align: center;
  }

  /* .footer__copyright */
  &__copyright {
    margin-bottom: toRem(17);

    color: #fff;
  }

  /* .footer__personal */
  &__personal {
    display: block;
    line-height: 130%;
  }

  &__personal,
  &__policy {
    font-size: toRem(14);
    color: #fff;
    opacity: .8;
    text-decoration: underline;
  }
}

.footer__btn-down {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5%;
  right: 3.7%;

  background-color: $secondaryColor;
  border-radius: 50%;
  transition: background-color 0.3s;

  @include adaptiveValue("width", 70, 54);
  @include adaptiveValue("height", 70, 54);


  @media (any-hover: hover) {
    &:hover {
      background-color: #000;
    }
  }

  svg {
    @include adaptiveValue("height", 26, 21);
  }


  @media (max-width: toEm(531)) {
    top: -3.7%;
    right: 3%;
  }
}