//====================================================================================================
.header {
  z-index: 600;
  width: 100%;
  top: 0;
  left: 0;
  background: $bodyColor;

  &__wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.4s;
    z-index: 30;

    box-shadow: 0 9px 54px 0 rgba(0, 0, 0, 0.09);
    background: #fff;
    @include adaptiveValue("height", 93, 73);

    ._dark & {
      background-color: transparent;
      box-shadow: none;
      @include adaptiveValue("height", 120, 72);
    }


    ._header-scroll & {
      transform: translateY(-100%);
      box-shadow: 0 9px 54px 0 rgba(0, 0, 0, 0.09);
      // background-color: rgba($color: #0F111A, $alpha: .8);
      background: #fff;
      // @include adaptiveValue("padding-bottom", 15, 5);
      @include adaptiveValue("height", 93, 73);
    }

    .header.header--light._header-scroll & {
      background-color: rgba(0, 0, 0, 0.9);
    }

    ._header-scroll._header-show & {
      transform: none;
    }

    .menu-open & {
      height: toRem(93);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid red;
    @include adaptiveValue("height", 93, 73);


    ._dark & {
      border-bottom: 1px solid rgba($color: #fff, $alpha: .09);
      @include adaptiveValue("height", 120, 72);
    }

    ._header-scroll & {
      border-bottom: none;
      @include adaptiveValue("height", 93, 73);
    }

    ._header-scroll._dark & {
      @include adaptiveValue("height", 93, 73);
    }

    @media (max-width:$mobile) {
      justify-content: space-between;
    }
  }

  &__logo {

    &-light {
      // display: block;
      @include adaptiveValue("width", 142, 113);
      @include adaptiveValue("height", 60, 47);


      ._dark & {
        display: none;
      }

      ._header-scroll & {
        display: block;
      }
    }

    &-dark {
      display: none;
    }

    &-dark {
      ._dark & {
        display: block;
        @include adaptiveValue("width", 162, 113);
        @include adaptiveValue("height", 68, 47);
      }
    }

    @media (min-width:$mobile) and (max-width:$tablet) {
      margin-left: auto;
    }

    @media (max-width:$mobile) {
      margin-left: -19px;
      margin-top: 10px;
    }

    ._header-scroll & {
      &-dark {
        display: none;
      }
    }
  }

  &__menu-burger {
    display: flex;
    align-items: center;
    gap: toRem(12);
    margin-right: toRem(42);
    color: #000;

    @media (max-width:$tablet) {
      margin-right: toRem(0);
    }

    span {
      font-size: toRem(18);
      line-height: 100%;
      font-weight: 600;
      color: #000;

      ._dark & {
        color: #fff;
      }

      ._header-scroll & {
        color: #000;
      }

    }

    &>span {
      @media (max-width: em(870)) {
        display: none;
      }
    }

    @media (max-width:$mobile) {
      display: none;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    @include adaptiveValue("margin-right", 194, 100, 0, 1920, 1080);

    @media (max-width:$tablet) {
      margin-right: toRem(0);
    }
  }

  &__search {}

  &__form {
    position: relative;
  }

  &__input {
    height: toRem(48);
    padding-right: toRem(22);
    padding-left: toRem(22);
    border-radius: toRem(50);
    line-height: 88%;

    @include adaptiveValue("width", 383, 200);

    ._dark & {
      height: toRem(56);
    }

    ._header-scroll & {
      height: toRem(48);
    }


    &:focus {
      background-color: $whiteColor;
    }

    &::placeholder {
      color: $mainColor;
      line-height: 88%;
      opacity: .5;

      ._header-scroll & {
        color: $mainColor;
      }

      ._dark & {
        color: $whiteColor;
      }

      ._header-scroll & {
        color: $mainColor;
      }
    }
  }

  &__account {
    display: flex;
    align-items: center;
    margin-left: auto;

    @include adaptiveValue("gap", 23, 15);
  }
}

.form-search {
  border-radius: toRem(50);
  box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0);

  border: 1px solid rgba(0, 0, 0, 0.23);

  ._dark & {
    border: 1px solid rgba(255, 255, 255, 0.23);
  }

  ._header-scroll & {
    border: 1px solid rgba(0, 0, 0, 0.23);
  }


  &__button {
    position: absolute;
    right: toRem(20);
    top: 50%;
    transform: translate(0, -50%);

    svg {
      g {
        opacity: 1;
      }

      path {
        stroke: $secondaryColor;
      }
    }

    ._dark & {
      svg {
        g {
          opacity: .5;
        }

        path {
          stroke: #fff;
        }
      }
    }

    ._header-scroll & {
      svg {
        g {
          opacity: 1;
        }

        path {
          stroke: $secondaryColor;
        }
      }
    }
  }
}


.menu {
  padding: 0 toRem(10); // отступы безопасности

  // .menu__body

  &__body {
    position: absolute;
    display: flex;
    max-width: toRem(1400);
    width: 100%;
    height: 0;
    left: 50%;
    top: toRem(120);
    transform: translate(-50%, 0);
    opacity: 0;
    visibility: hidden;

    text-align: center;
    background-color: #fff;
    color: $mainColor;

    transition: all .7s;

    .menu-open & {
      transition: all .7s;
      opacity: 1;
      visibility: visible;
      z-index: 900;


      @media (min-width:$mobile) {
        height: toRem(116);
        top: toRem(107);
      }
    }

    ._header-scroll & {
      @media (min-width:$mobile) {
        top: toRem(92);
      }
    }

    @media (min-width:$mobile) {
      justify-content: center;
      align-items: center;
    }

    @media (max-width:$mobile) {
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      overflow: auto;
      height: 100%;
      top: 0;
      left: 0;
      transform: scale(.7);
      visibility: hidden;
      opacity: 0;
      padding: toRem(45) toRem(20) toRem(35);

      .menu-open & {
        transform: scale(1);
        transition: all .7s;
        opacity: 1;
        visibility: visible;
        z-index: 900;
      }
    }
  }

  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // @include adaptiveValue("column-gap", 80, 15);
    column-gap: toRem(15);
    row-gap: toRem(25);
    justify-content: space-between;
    width: 100%;
    @include adaptiveValue("padding-right", 70, -30);
    @include adaptiveValue("padding-left", 70, -30);

    @media (max-width:$mobile) {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    @media (max-width: em(550)) {
      border-bottom: 1px solid #D9D9D9;
    }
  }

  &__item {
    @media (max-width: em(550)) {
      &:last-child {
        margin-bottom: toRem(35);
      }
    }
  }

  &__link {
    font-size: toRem(22);
    letter-spacing: 0.03em;

    @media (any-hover: hover) {
      &:hover {
        color: $subColor;
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    padding-top: toRem(25);
    gap: toRem(18);

    @media (min-width:em(550)) {
      display: none;
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(17);
    height: toRem(12);
    z-index: 990;

    @media (any-hover: none) {
      cursor: default;
    }

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: $whiteColor;

      ._dark & {
        background-color: $mainColor;
      }

      ._header-scroll & {
        background-color: $whiteColor;
      }

    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
      width: 11px;
      left: 0;
    }

    span {
      top: calc(50% - toRem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {
        background-color: $mainColor;
      }

      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
        width: auto;
      }

      span,
      &::before,
      &::after {
        background: $whiteColor;
      }
    }
  }
}

.icon-menu_pc {
  display: block;
  position: absolute;
  width: toRem(20);
  height: toRem(14);
  z-index: 990;

  @media (any-hover: none) {
    cursor: default;
  }

  span,
  &::before,
  &::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: toRem(2);
    background-color: #fff;

    ._dark & {
      background-color: $mainColor;
    }

    ._header-scroll & {
      background-color: #fff;
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
    width: toRem(14);
    left: 0;
  }

  span {
    top: calc(50% - toRem(1));
  }

  .menu-open & {
    span {
      width: 0;
    }

    &::before {
      top: calc(50% - toRem(1));
      transform: rotate(-45deg);
    }

    &::after {
      bottom: calc(50% - toRem(1));
      transform: rotate(45deg);
      width: auto;
    }

    span,
    &::before,
    &::after {
      background: $whiteColor;
    }
  }
}

.wrap-icon-btn {
  display: none;

  @media (max-width:$mobile) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 0 0 toRem(36);
    width: toRem(36);
    height: toRem(36);

    border-radius: 50%;
    background-color: #000;
    cursor: pointer;

    @include adaptiveValue("margin-left", 160, 15);

    ._dark & {
      background-color: #fff;
    }

    ._header-scroll & {
      background-color: #000;
    }

    .menu-open & {
      background-color: $subColor;
      border: none;
      z-index: 901;
    }
  }
}

.wrap-icon-btn-d {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: toRem(44);
  height: toRem(44);
  border-radius: 50%;
  background: #000;
  cursor: pointer;

  ._dark & {
    background-color: #fff;
  }

  ._header-scroll & {
    background-color: #000;
  }

  &::before {
    content: '';
    position: absolute;
    background-color: $subColor;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(.4);
    opacity: 0;
    transition: all 0.3s;
  }

  .menu-open & {
    background: $subColor;
  }

  &:hover {
    &::before {
      transform: scale(1);
      opacity: 1;
    }
  }

  &:hover {

    span,
    .icon-menu_pc:before,
    .icon-menu_pc:after {
      background-color: $whiteColor;
    }
  }
}

.account-header__link {
  position: relative;


  svg {
    @include adaptiveValue("width", 38, 26);
  }

  ._dark & {
    svg {
      path {
        stroke: #fff;
      }
    }
  }

  ._header-scroll & {
    svg {
      path {
        stroke: #000;
      }
    }
  }

  &_favorite {
    margin-top: toRem(7);
  }
}

.favorite-num,
.basket-num {
  position: absolute;
  width: toRem(21);
  height: toRem(21);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  font-size: toRem(13);
  font-weight: 700;
  color: #fff;
  background-color: #28B3B6;
}

.favorite-num {
  top: toRem(-9);
  right: toRem(-8);
}

.basket-num {
  top: toRem(-2);
  right: toRem(-3);
}