.info-payment {
  position: relative;
  @include adaptiveValue("padding-top", 54, 27);
  @include adaptiveValue("padding-bottom", 93, 50);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%), url("@img/info/payment-bg.jpg") center 0 no-repeat;
    opacity: .11;
    z-index: -1;
  }

  /* .info-payment__container */
  &__container {}

  /* .info-payment__title */
  &__title {
    font-weight: 700;
    line-height: 118%;
    @include adaptiveValue("font-size", 44, 25);

    @include adaptiveValue("margin-bottom", 22, 11);

    @media (max-width:$mobile) {
      line-height: 136%;
    }
  }

  /* .info-payment__subtitle */
  &__subtitle {
    max-width: toRem(1277);

    @include adaptiveValue("margin-bottom", 34, 20);
  }

  /* .info-payment__fast-navigation */
  &__fast-navigation {
    margin-bottom: toRem(14);

    font-size: toRem(22);
    font-weight: 600;
    line-height: 127%;

    @media (max-width:$mobile) {
      font-size: toRem(20);
      line-height: 140%;
    }
  }

  /* .info-payment__tags */
  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: toRem(10);
    margin-bottom: toRem(55);

    font-size: toRem(19);

    @include adaptiveValue("margin-bottom", 55, 68);

    @media (max-width:$mobile) {
      font-size: toRem(17);
    }
  }

  /* .info-payment__tag */
  &__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(0) toRem(26);
    height: toRem(47);

    border: 1px solid #e9e9e9;
    border-radius: 50px;

  }
}

.payment-methods {

  border: 1px solid #f4f4f4;
  border-radius: toRem(20);
  box-shadow: 0 9px 54px 0 rgba(0, 0, 0, 0.04);
  background: #fff;

  /* .payment-methods__title */
  &__title {
    margin-bottom: toRem(35);
  }

  /* .payment-methods__items */
  &__items {
    display: flex;
    justify-content: center;
    margin-bottom: toRem(19);

    counter-reset: numbers;

    @include adaptiveValue("gap", 10, 23);

    @media (max-width:$tablet) {
      flex-wrap: wrap;
    }
  }

  /* .payment-methods__item */
  &__item {
    position: relative;
    padding-left: toRem(53);
    padding-right: toRem(5);
    padding-bottom: toRem(20);
    flex: 0 1 33%;

    // @include adaptiveValue("padding-right", 5, 0);
    @include adaptiveValue("padding-top", 9, 0);


    &::before {
      // content: '';
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 0;
      top: 0;
      width: toRem(41);
      height: toRem(41);
      background: $secondaryColor;
      border-radius: 50%;
      font-size: toRem(23);
      font-weight: 700;
      color: #fff;
      counter-increment: numbers;
      content: counter(numbers);
    }

    @media (max-width:$tablet) {
      flex: 0 1 49%;
    }

    @media (max-width:$mobile) {
      flex: 0 1 100%;
    }
  }


  /* .payment-methods__name */
  &__name {
    margin-bottom: toRem(12);

    font-size: toRem(20);
    font-weight: 600;

    @media (max-width:$mobile) {
      font-size: toRem(18);
    }
  }


  /* .payment-methods__name-systems */
  &__name-systems {
    font-size: toRem(20);
    line-height: 155%;

    @include adaptiveValue("margin-bottom", 24, 13);

    @media (max-width:$mobile) {
      font-size: toRem(18);
      line-height: 133%;
    }
  }

  /* .payment-methods__systems */
  &__systems {
    display: flex;
    gap: toRem(10);
    flex-wrap: wrap;

    @include adaptiveValue("margin-bottom", 58, 26);
  }

  /* .payment-methods__system */
  &__system {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #fafafa;
    border-radius: toRem(16);
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.02);
    background: #fff;

    @include adaptiveValue("width", 141, 123);
    @include adaptiveValue("height", 67, 58);

    img {
      max-width: 100%;
    }

    // @media (max-width:$mobile) {
    //   img {
    //     width: 110%;
    //   }
    // }
  }

  /* .payment-methods__non-cash */
  &__non-cash {
    font-weight: 700;
    @include adaptiveValue("font-size", 32, 25);

    @include adaptiveValue("margin-bottom", 22, 13);

    @media (max-width:$mobile) {
      line-height: 136%;
    }
  }

  /* .payment-methods__desc */
  &__desc {}
}

.delivery-methods {

  @media (min-width:toEm(1600)) {
    padding-right: toRem(266);
  }

  /* .delivery-methods__title */
  &__title {
    @include adaptiveValue("margin-bottom", 34, 26);
  }

  /* .delivery-methods__items */
  &__items {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    @include adaptiveValue("margin-bottom", 41, 20);
    @include adaptiveValue("gap", 25, 23);
  }

  /* .delivery-methods__item */
  &__item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: toRem(12);

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: toRem(41);
      width: toRem(41);
      flex: 0 0 toRem(41);
      background: $secondaryColor;
      border-radius: 50%;
      font-size: toRem(23);
      font-weight: 700;
      color: #fff;
    }

    @media (max-width: toEm(1266)) {
      width: 100%;
    }
  }


  /* .delivery-methods__geo */
  &__geo {
    line-height: 155%;

    @include adaptiveValue("font-size", 20, 17);

    @media (max-width:$mobile) {
      line-height: 147%;
    }
  }

  /* .delivery-methods__moscow */
  &__moscow {
    line-height: 162%;
    font-weight: 700;


    @include adaptiveValue("margin-bottom", 25, 13);
    @include adaptiveValue("font-size", 32, 25);

    @media (max-width:$mobile) {
      line-height: 136%;
    }
  }


  /* .delivery-methods__times */
  &__times {
    @include adaptiveValue("margin-bottom", 25, 16);
  }


  /* .delivery-methods__time */
  &__time {

    &:not(:last-child) {
      margin-bottom: toRem(11);
    }

    span {
      font-weight: 400;
      color: $mainColor;
    }
  }
}

.delivery-conditions {


  /* .delivery-conditions__title */
  &__title {
    margin-bottom: toRem(17);

    font-size: toRem(20);
    line-height: 135%;
    font-weight: 600;

    @media (max-width:$mobile) {
      font-size: toRem(18);
      line-height: 150%;
    }
  }

  /* .delivery-conditions__list */
  &__list {
    @include adaptiveValue("padding-left", 30, 0);
    @include adaptiveValue("margin-bottom", 25, 16);
  }

  /* .delivery-conditions__item */
  &__item {}

  /* .delivery-conditions__link */
  &__link {
    font-size: toRem(18);
    line-height: 150%;
    text-decoration: underline;
    color: $secondaryColor;
  }
}

.refund {
  @include adaptiveValue("padding-bottom", 38, 19);

  /* .refund__title */
  &__title {
    @include adaptiveValue("margin-bottom", 36, 15);
  }

  /* .refund__subtitle */
  &__subtitle {
    font-weight: 600;
    line-height: 127%;
    color: #000;

    @include adaptiveValue("font-size", 22, 18);

    @include adaptiveValue("margin-bottom", 18, 7);

    @media (max-width:$mobile) {
      line-height: 144%;
    }
  }

  /* .refund__text */
  &__text {
    @include adaptiveValue("margin-bottom", 23, 16);
  }

  /* .refund__cash */
  &__cash {
    font-size: toRem(18);
    font-weight: 600;
    line-height: 150%;

    margin-bottom: toRem(16);

    @media (max-width:$mobile) {
      font-size: toRem(16);
      line-height: 156%;
    }

    a {
      color: $secondaryColor;
      text-decoration: underline;
    }
  }

  /* .refund__list */
  &__list {
    @include adaptiveValue("padding-left", 30, 0);
    @include adaptiveValue("margin-bottom", 26, 16);
  }

  /* .refund__item */
  &__item {}
}