.intro {
  position: relative;

  /* .intro__slider */
  &__slider,
  &__slide,
  &__container {
    position: relative;
  }

  /* .intro__content */
  &__content {
    max-width: toRem(765);
    opacity: 0;

    transition: opacity 1s;

    @include adaptiveValue("padding-top", 313, 129);
    @include adaptiveValue("padding-bottom", 290, 208);


    .swiper-slide-active & {
      opacity: 1;
    }
  }

  /* .intro__title */
  &__title {
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    @include adaptiveValue("font-size", 70, 35);

    @include adaptiveValue("margin-bottom", 21, 10);

    @media (max-width:$mobile) {
      line-height: 109%;
    }
  }

  /* .intro__text */
  &__text {
    max-width: toRem(720);

    line-height: 155%;
    color: #fff;
    @include adaptiveValue("font-size", 20, 16);

    @include adaptiveValue("margin-bottom", 32, 19);

    @media (max-width:$mobile) {
      line-height: 150%;
    }
  }

  /* .intro__button */
  &__button {
    padding: 0 toRem(30);

    transition: all 0.3s;

    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    background-color: $secondaryColor;

    @include adaptiveValue("font-size", 21, 17);

    @include adaptiveValue("height", 70, 50);
    @include adaptiveValue("gap", 66, 34);
    @include adaptiveValue("width", 270, 216);

    @media (max-width:$mobile) {
      color: #fff;
    }

    &:hover {
      background-color: #000;
    }
  }

  &__arrow-down {
    position: absolute;
    left: 50%;
    bottom: toRem(-51);

    transform: translate(-50%, 0px);
    border-radius: 50%;
    background-color: #fff;

    @include adaptiveValue("width", 105, 61);
    @include adaptiveValue("height", 105, 61);
    @include adaptiveValue("bottom", -51, -30);

    &::before {
      content: '';
      position: absolute;
      background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);

      border-radius: 50%;
      z-index: -1;

      @include adaptiveValue("width", 77, 51);
      @include adaptiveValue("height", 77, 51);
    }

    svg {
      transition: all 0.3s;
      @include adaptiveValue("width", 27, 17);

    }

    @media (any-hover: hover) {
      &:hover {
        svg {
          width: toRem(20);
          transform: translate(0px, 10px);
        }
      }
    }
  }

  /* .intro__background */
  &__background {
    position: absolute;

    img {
      object-fit: cover;
      max-width: 100%;
      height: 100%;


      .swiper-slide-active & {
      }
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      background: linear-gradient(124deg, rgba(0, 0, 0, 0.81) 0%, rgba(217, 217, 217, 0.81) 100%), rgba(0, 0, 0, 0.48);
    }
  }

  /* .intro__slider-pagination */
  &__slider-pagination {
    position: absolute;
    top: toRem(440);
    right: toRem(21);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(16);

    @media (max-width:$mobile) {
      gap: toRem(10);
      flex-direction: row;
      left: toRem(22);
      top: toRem(566)
    }

    .swiper-pagination-bullet {
      position: relative;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: rgba($color: #fff, $alpha: .42);
      z-index: 10;

      cursor: pointer;

      transition: all 0.3s;

      @media (max-width:$mobile) {
        width: 10px;
        height: 10px;
      }

      &::before {
        content: '';
        position: absolute;
        width: toRem(11);
        height: toRem(11);
        background-color: $secondaryColor;
        border-radius: 50%;
        opacity: 0;

        @media (max-width:$mobile) {
          width: toRem(7);
          height: toRem(7);
        }
      }
    }

    .swiper-pagination-bullet-active {
      width: 25px;
      height: 25px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;

      @media (max-width:$mobile) {
        width: 17px;
        height: 17px;
      }

      &::before {
        opacity: 1;
      }
    }
  }
}

.swiper {}

.swiper-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}