.profile-order {
  &__title {
    @include adaptiveValue("margin-bottom", 35, 27);
  }

  /* .profile-order__body */
  &__box {
    border-radius: toRem(20);
    box-shadow: 0 9px 54px 0 rgba(0, 0, 0, 0.04);
    background: #fff;

    @include adaptiveValue("padding-top", 30, 17);
    @include adaptiveValue("padding-bottom", 30, 20);
    @include adaptiveValue("padding-left", 40, 20);
    @include adaptiveValue("padding-right", 40, 20);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 28, 20);
    }
  }
}

.filter-sort {
  margin-bottom: toRem(28);
  display: flex;
  gap: toRem(18);
  align-items: center;

  @media (max-width:$mobileSmall) {
    align-items: flex-start;
    flex-direction: column;
    row-gap: toRem(11);
    margin-bottom: toRem(31);
  }

  /* .filter-sort__title */
  &__title {
    display: flex;
    align-items: center;
    gap: toRem(8);

    @media (max-width:$mobileSmall) {
      svg {
        display: none;
      }
    }
  }

  /* .filter-sort__by */
  &__by {
    display: flex;
    align-items: center;
    gap: toRem(12);

    a {
      font-size: toRem(16);
      text-decoration: underline;
      color: $secondaryColor;

      &.active {
        color: #666;
        text-decoration: none;
        cursor: auto;
        pointer-events: none;
      }

      &:not(:last-child) {
        padding-right: toRem(10);
        border-right: 1px solid #ededed;
      }
    }
  }
}

.order {

  &__body {
    display: grid;
    grid-template-columns: 1fr 50.6%;
    // gap: toRem(50);

    @include adaptiveValue("column-gap", 50, 0);

    @media (max-width:$mobile) {
      grid-template-columns: 1fr;
      row-gap: toRem(31);
    }
  }

  /* .order__header */
  &__header {
    display: flex;

    @media (max-width: toEm(1080)) {
      flex-wrap: wrap;
      row-gap: toRem(17);
    }
  }

  /* .order__header-item */
  &__header-item {
    padding-left: toRem(24);
    padding-right: toRem(24);
    @include adaptiveValue("padding-left", 24, 20);
    @include adaptiveValue("padding-right", 24, 20);

    &:not(:last-child) {
      border-right: 1px solid #f3f3f3;
    }
  }

  /* .order__header-name */
  &__header-name {
    margin-bottom: toRem(6);

    font-size: toRem(15);
    font-weight: 600;
  }

  /* .order__header-value */
  &__header-value {
    font-size: toRem(14);
    color: #666;
  }

  /* .order__count */
  &__count {
    font-size: toRem(20);

    @include adaptiveValue("margin-bottom", 28, 22);
  }

  /* .order__list */
  &__list {}

  /* .order__item */
  &__item {
    display: flex;
    align-items: center;
    gap: toRem(21);

    &:not(:last-child) {
      margin-bottom: toRem(24);
      border-bottom: 1px solid #f8f8f8;

      @include adaptiveValue("padding-bottom", 27, 24);
    }
  }

  /* .order__image */
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 0 0 toRem(108);

    width: toRem(108);
    height: toRem(108);
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    background: #fff;
  }

  /* .order__content */
  &__content {
    width: 100%;

    @media (max-width:$tablet) {
      padding-right: toRem(22);
    }
  }

  /* .order__name */
  &__name {
    margin-bottom: toRem(10);

    font-weight: 600;
    line-height: 120%;
    @include adaptiveValue("font-size", 20, 17);

    @media (max-width:$mobile) {
      line-height: 124%;
    }
  }

  /* .order__amount */
  &__amount {
    font-size: toRem(14);
    color: #666;

    margin-bottom: toRem(11);
  }

  /* .order__price */
  &__price {
    font-size: toRem(22);
    font-weight: 600;
    color: $secondaryColor;
  }

  /* .order__total */
  &__total {}
}

.total {
  border: 1px solid #edf8f9;
  border-radius: 20px;
  background: #f6f9f9;

  @include adaptiveValue("padding-bottom", 40, 26);
  @include adaptiveValue("padding-right", 35, 18);
  @include adaptiveValue("padding-top", 37, 23);
  @include adaptiveValue("padding-left", 42, 19);

  /* .total__title */
  &__title {
    margin-bottom: toRem(26);

    font-weight: 600;
    @include adaptiveValue("font-size", 26, 22);

    @media (max-width:$mobile) {
      margin-bottom: toRem(24);
    }
  }

  /* .total__list */
  &__list {
    border-bottom: 1px solid #ebebeb;
  }

  /* .total__item */
  &__item {
    display: flex;
    justify-content: space-between;
    gap: toRem(30);
    margin-bottom: toRem(17);
  }

  /* .total__name */
  &__name {
    @include adaptiveValue("font-size", 18, 15);
  }

  /* .total__value */
  &__value {
    text-align: right;
    @include adaptiveValue("font-size", 20, 15);
  }

  /* .total__sum */
  &__sum {
    display: flex;
    justify-content: space-between;
    padding-top: toRem(21);
  }

  /* .total__sum-name */
  &__sum-name {
    font-weight: 600;
    @include adaptiveValue("font-size", 23, 16);
  }

  /* .total__sum-value */
  &__sum-value {
    color: $secondaryColor;
    font-weight: 600;
    @include adaptiveValue("font-size", 27, 23);
  }
}

.order-pagination {
  display: flex;
  gap: toRem(11);

  @include adaptiveValue("margin-top", 59, 34);

  @media (max-width:$tablet) {
    justify-content: center;
  }

  /* .order-pagination__list */
  &__list {
    display: flex;
    gap: toRem(11);
  }

  /* .order-pagination__number */
  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(42);
    height: toRem(42);

    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #fff;

    transition: all 0.2s;

    @media (any-hover: hover) {
      &:hover {
        border: 1px solid $secondaryColor;

        a {
          color: $secondaryColor;
        }
      }
    }

    &.current {
      border: 2px solid $secondaryColor;

      a {
        color: $secondaryColor;
      }
    }

    &.none {
      pointer-events: none;
    }

    &.del {
      @media (max-width:$mobile) {
        display: none;
      }
    }
  }
}

.order-pagination-left {}

.current {}

.order-pagination-right {}