.product-card {
  padding-top: toRem(47);
  position: relative;


  &::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%), url("@img/product-card/back.jpg") center 0 no-repeat;
    opacity: .06;
    z-index: -1;
  }

  /* .product-card__container */
  &__container {
    border: 1px solid red;
  }

  /* .product-card__body */
  &__body {
    // display: grid;
    display: flex;
    justify-content: space-between;
    // grid-template-columns: 1fr 22%;
    // grid-template-columns: 1fr 1fr;
    gap: toRem(62);
  }


  /* .product-card__main-image */
  &__main-image {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: toRem(24);
    aspect-ratio: 262 / 219;
    // aspect-ratio: 786 / 657;

    @include adaptiveValue("width", 786, 320);
    @include adaptiveValue("height", 657, 268);

  }

  /* .product-card__labels */
  &__labels {
    position: relative;
    display: flex;
    gap: toRem(13);

    z-index: 20;
  }

  /* .product-card__label */
  &__label {
    font-size: toRem(19);
    padding: toRem(15) toRem(32);
  }

  /* .product-card__discount */
  &__discount {
    font-size: toRem(22);
    padding: toRem(14) toRem(15);
  }

  /* .product-card__type */
  &__type {
    margin-top: auto;
  }

  /* .product-card__photo */
  &__photo {}

  /* .product-card__content */
  &__content {
    // padding-left: toRem(58);
    padding-top: toRem(14);
  }

  /* .product-card__top-line */
  &__top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: toRem(9);
  }

  /* .product-card__article */
  &__article {
    font-size: toRem(18);

    span {
      color: #666;
    }
  }

  /* .product-card__links */
  &__links {
    display: flex;
    align-items: center;
    gap: toRem(15);
    margin-right: toRem(-18);
  }

  /* .product-card__link */
  &__link {}

  /* .product-card__title */
  &__title {
    margin-bottom: toRem(19);
  }

  /* .product-card__size */
  &__size {
    padding-top: toRem(20);


    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
  }

  /* .product-card__size-label */
  &__size-label {
    margin-bottom: toRem(5);
  }

  /* .product-card__values */
  &__values {}

  /* .product-card__size-value */
  &__size-value {
    padding: toRem(12) toRem(26);
  }

  /* .product-card__add-to-cart */
  &__add-to-cart {}

  /* .product-card__quantity */
  &__quantity {}

  /* .product-card__dolyami */
  &__dolyami {}

  /* .product-card__specifications */
  &__specifications {}

  /* .product-card__features */
  &__features {}
}

.tabs-thumbs {

  display: flex;
  gap: toRem(35);

  /* .tabs-thumbs__navigation */
  &__navigation {
    display: flex;
    flex-direction: column;
    gap: toRem(18);
  }

  /* .tabs-thumbs__title */
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #f4f4f4;
    border-radius: toRem(20);
    overflow: hidden;

    @include adaptiveValue("width", 129, 100);
    @include adaptiveValue("height", 108, 83);

    img {
      // max-width: 100%;
      object-fit: cover;
    }


    &._tab-active {
      border: 2px solid #28b3b6;
    }

    @media (any-hover: hover) {
      &:hover {
        border: 2px solid #28b3b6;
      }
    }
  }

  /* .tabs-thumbs__content */
  &__content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  /* .tabs-thumbs__body */
  &__body {
    // position: relative;
    height: 100%;
    border-radius: toRem(20);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100%;
    }
  }
}

.product-item {

  /* .product-item__label */
  &__label {}

  /* .product-item__discount */
  &__discount {}

  /* .product-item__type */
  &__type {}

  /* .product-item__badge */
  &__badge {}

  /* .product-item__favorite */
  &__favorite {}

  /* .product-item__size */
  &__size {}

  /* .product-item__size-label */
  &__size-label {}

  /* .product-item__values */
  &__values {}

  /* .product-item__size-value */
  &__size-value {}

  /* .product-item__button */
  &__button {}
}


.quantity {

  /* .quantity__button */
  &__button {}

  /* .quantity__button--minus */
  &__button--minus {}

  /* .quantity__input */
  &__input {}

  /* .quantity__button--plus */
  &__button--plus {}
}

.button {

  /* .button__basket */
  &__basket {}
}

.button-wrapper {

  /* .button-wrapper__null */
  &__null {}

  /* .button-wrapper__add */
  &__add {}
}

.specifications-product-card {

  /* .specifications-product-card__title */
  &__title {}

  /* .specifications-product-card__list */
  &__list {}

  /* .specifications-product-card__item */
  &__item {}

  /* .specifications-product-card__name */
  &__name {}

  /* .specifications-product-card__value */
  &__value {}

  /* .specifications-product-card__link-list */
  &__link-list {}
}

.features-product-card {

  /* .features-product-card__title */
  &__title {}

  /* .features-product-card__tags */
  &__tags {}

  /* .features-product-card__tag */
  &__tag {}
}

.product-card-tabs {

  /* .product-card-tabs__container */
  &__container {}

  /* .product-card-tabs__navigation */
  &__navigation {}

  /* .product-card-tabs__title */
  &__title {}

  /* .product-card-tabs__content */
  &__content {}

  /* .product-card-tabs__body */
  &__body {}

  /* .product-card-tabs__text */
  &__text {}

  /* .product-card-tabs__features-items */
  &__features-items {}

  /* .product-card-tabs__item */
  &__item {}
}

.tabs {

  /* .tabs__navigation */
  &__navigation {}

  /* .tabs__title */
  &__title {}

  /* .tabs__content */
  &__content {}

  /* .tabs__body */
  &__body {}
}