.side-buttons {
  display: grid;
  position: fixed;
  z-index: 500;

  transition: all .7s;
  opacity: 0;

  @media (min-width:toEm(601)) {
    right: -242px;
    @include adaptiveValue("right", -242, -212);
    gap: toRem(8);
    transform: translateX(calc(100% + 20px));
  }

  @media (max-width: toEm(600)) {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  &.active {
    transform: none;
    opacity: 1;
  }
}

.side-button {
  height: toRem(80);
  display: flex;
  align-items: center;

  box-shadow: 0 9px 54px 0 rgba(0, 0, 0, 0.09);
  background: #fcfcfc;

  @media (min-width:toEm(601)) {
    padding-right: toRem(29);
    border-radius: 14px 0 0 14px;
    overflow: hidden;
  }

  @media (max-width: toEm(600)) {
    height: toRem(50);
    width: 100%;
    justify-content: center;
  }

  /* .side-button__subject */
  &__subject {
    transition: transform .7s;

    @media (min-width:toEm(601)) {
      max-width: toRem(267);
    }

    @media (max-width: toEm(600)) {
      background-color: #000;
      color: #fff;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: translateX(-181px);
      }
    }
  }

  /* .side-button__icon */
  &__icon {
    flex: 0 0 toRem(80);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: toRem(80);
    height: 100%;


    @media (max-width: toEm(600)) {
      display: none;
    }

    // side-button__subject

    .side-button__promocode & {
      background-color: $secondaryColor;
    }
  }

  /* .side-button__info */
  &__info {
    font-weight: 600;
    @include adaptiveValue("font-size", 20, 16);

    // .side-button__promocode & {
    //   margin-right: toRem(33);
    // }

    @media (min-width:toEm(601)) {
      padding-left: toRem(21);
    }
  }

  /* .side-button__promocode */
  &__promocode {

    transition: transform .7s;

    @media (min-width:toEm(601)) {
      max-width: toRem(327);
    }

    @media (max-width: toEm(600)) {
      background-color: $secondaryColor;
      color: #fff;
    }

    @media (any-hover: hover) {
      &:hover {
        transform: translateX(-243px);
      }
    }
  }
}

.red {}