@use "sass:math";

// Підключення міксинів ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Підключення шрифтів ===========================================================================================================================================================================================================================================================================
//&display=swap - додати при підключенні через плагін

// Підключити, якщо є локальні файли шрифтів
@import "fonts/fonts";

// Підключення іконкових шрифтів ==============================================================================================================================================================================================================================================================================
// Підключити, якщо є файл іконкового шрифту
//@import "fonts/icons";


// За замовчуванням шрифт ==============================================================================================================================================================================================================================================================================
$fontFamily: "gilroy", sans-serif;
$fontSize: toRem(18);

$mainColor: #0F111A;
// $bodyColor: #fff;
$bodyColor: #0F111A;
$subColor: #FF9900;
$borderRadius: 50px;
$shadowText: 5px 7px 6px rgba(0, 0, 0, 0.18);
$gradientBtn: linear-gradient(131deg, #f90 0%, #ff6544 100%);
$gradientBlock: linear-gradient(90deg, #f90 0%, #c97800 100%);
$animSpeed: .8s;



// Мінімальна ширина сторінки
$minWidth: 360;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1400;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 40;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth); // ПК, ноутбуки, деякі планшети у горизонтальному положенні
$tablet: em(991.98); // Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); // Телефони L
$mb-m: em(575.98);
$mobileSmall: em(479.98); // Телефони S

$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// CSS-переменные ============================================================================================================================================================================================================================================================================================================================================================================================================================================
// @import 'root';

// Обнулення ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стилі тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
body {
	font-weight: 400;
	background-color: #fff;
	// background-color: $mainColor;
	opacity: 0;
	letter-spacing: .03em;
	line-height: normal;
	// @include adaptiveValue("font-size", 22, 16);
	color: #fff;

	&::after {
		content: '';
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(15, 17, 26, 0.7);
		opacity: 1;
		transition: all 0.3s ease 0s;
	}


	// Скролл заблоковано
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;

		&::after {
			opacity: 1;
		}
	}

	// Сайт завантажений
	.loaded & {
		opacity: 1;
		transition: opacity 0.6s ease 0s;
	}
}

// Оболонка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	@supports (overflow: clip) {
		overflow: clip;
	}

	// Притискаємо footer
	>main {
		flex: 1 1 auto;
	}

	// Фікс для слайдерів
	>* {
		min-width: 0;
	}
}


// Обмежуючий контейнер ======================================================================================================================================================================================================================
/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/
@if ($responsiveType==1) {

	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}

		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}

			@else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
}

@else {

	// Брейк-поїнтами
	[class*="__container"] {
		margin: 0 auto;

		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		}

		@else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}

		@media (max-width: $pc) {
			max-width: toRem(970);
		}

		@media (max-width: $tablet) {
			max-width: toRem(750);
		}

		@media (max-width: $mobile) {
			max-width: none;

			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

// Підключення базових стилів, шаблонів (заготівель) та допоміжних класів
// Для підключення/вимкнення конкретних стилів дивись base.scss
@import "base";

// Підключення стилів загальних елементів проекту
@import "common";

// Підключення стилів окремих блоків
@import "header";
@import "sections/intro";
@import "sections/turnkey";
@import "sections/features";
@import "sections/objects";
@import "sections/types";
@import "sections/images";
@import "sections/docs";
@import "sections/portfolio";
@import "sections/discount";
@import "sections/video";
@import "sections/reviews-map";
@import "sections/warranty";
@import "sections/faq";
@import "sections/banner";
@import "sections/section-map";
@import "sections/contacts";
@import "sections/quiz-form";


@import "footer";

@import "home";